<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComDictMapper">

	<sql id="dictColumns">dictId,parentId,dictCode,dictName,dictType,dictStatus,dictValue,level,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="dictTable">com_dict</sql>
	
	<resultMap type="comDict" id="comDictResultMap">
		<id column="dictId" property="dictId"/>
		<id column="parentId" property="parentId"/>
		<result column="dictCode" property="dictCode"/>
		<result column="dictName" property="dictName"/>
		<result column="dictType" property="dictType"/>
		<result column="dictStatus" property="dictStatus"/>
		<result column="dictValue" property="dictValue"/>
		<result column="level" property="level"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comDict">
		insert into 
	<include refid="dictTable"/>
		( 
	<include refid="dictColumns"/>
		) values (
			#{dictId},#{parentId},#{dictCode},#{dictName},#{dictType},#{dictStatus},#{dictValue},#{level},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 新增 -->
	<insert id="addByPd" parameterType="pd">
		insert into 
	<include refid="dictTable"/>
		( 
	<include refid="dictColumns"/>
		) values (
			#{dictId},#{parentId},#{dictCode},#{dictName},#{dictType},#{dictStatus},#{dictValue},#{level},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comDict">
		update
	<include refid="dictTable"/>
		set 
			dictCode = #{dictCode},
			dictName = #{dictName},
			dictType = #{dictType},
			dictStatus = #{dictStatus},
			dictValue = #{dictValue},
			level = #{level},
			orderNum = #{orderNum},
			effective = #{effective},
			createUserId = #{createUserId},
			createTime = #{createTime},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</update>
	
	<!-- 修改 -->
	<update id="editByPd" parameterType="pd">
		update
	<include refid="dictTable"/>
		set 
			dictCode = #{dictCode},
			dictName = #{dictName},
			dictType = #{dictType},
			dictStatus = #{dictStatus},
			dictValue = #{dictValue},
			level = #{level},
			orderNum = #{orderNum},
			effective = #{effective},
			createUserId = #{createUserId},
			createTime = #{createTime},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</update>
	
	<!-- 改变 -->
	<update id="change" parameterType="comDict">
		update
	<include refid="dictTable"/>
		set 
			<if test="dictCode!=null and dictCode!=''">
			dictCode = #{dictCode},
			</if>
			<if test="dictName!=null and dictName!=''">
			dictName = #{dictName},
			</if>
			<if test="dictType!=null and dictType!=''">
			dictType = #{dictType},
			</if>
			<if test="dictStatus!=null and dictStatus!=''">
			dictStatus = #{dictStatus},
			</if>
			<if test="dictValue!=null and dictValue!=''">
			dictValue = #{dictValue},
			</if>
			<if test="level!=null and level!=''">
			level = #{level},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			<if test="effective!=null and effective!=''">
			effective = #{effective},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from 
	<include refid="dictTable"/>
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="dictTable"/>
		where 
			CONCAT(dictId,'-',parentId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByPd" parameterType="pd" resultType="comDict">
		select 
	<include refid="dictColumns"/>
		from 
	<include refid="dictTable"/>
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</select>
	
	<!-- 通过pd获取(PageData)数据  -->
	<select id="findPdByPd" parameterType="pd" resultType="pd">
		select 
	<include refid="dictColumns"/>
		from 
	<include refid="dictTable"/>
		where 
			dictId = #{dictId} 
			 and parentId = #{parentId}
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="comDictResultMap">
		select 
	<include refid="dictColumns"/>
		from 
	<include refid="dictTable"/>
		where 1=1
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="has" parameterType="comDict" resultMap="comDictResultMap">
		select 
	<include refid="dictColumns"/>
		from 
	<include refid="dictTable"/>
		where 1=1
			<if test="dictId!=null and dictId!=''">
			 and dictId = #{dictId} 
			</if>
			<if test="parentId!=null and parentId!=''">
			 and parentId = #{parentId}
			</if>
			<if test="dictCode!=null and dictCode!=''">
			 and dictCode = #{dictCode}
			</if>
			<if test="dictName!=null and dictName!=''">
			 and dictName = #{dictName}
			</if>
			<if test="dictType!=null and dictType!=''">
			 and dictType = #{dictType}
			</if>
			<if test="dictStatus!=null and dictStatus!=''">
			 and dictStatus = #{dictStatus}
			</if>
			<if test="dictValue!=null and dictValue!=''">
			 and dictValue = #{dictValue}
			</if>
			<if test="level!=null and level!=''">
			 and level = #{level}
			</if>
			<if test="orderNum!=null and orderNum!=''">
			 and orderNum = #{orderNum}
			</if>
			<if test="effective!=null and effective!=''">
			 and effective = #{effective}
			</if>
			<if test="createUserId!=null and createUserId!=''">
			 and createUserId = #{createUserId}
			</if>
			<if test="createTime!=null and createTime!=''">
			 and createTime = #{createTime}
			</if>
			<if test="modifyUserId!=null and modifyUserId!=''">
			 and modifyUserId = #{modifyUserId}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
			 and modifyTime = #{modifyTime}
			</if>
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="dictColumns"/>
		from 
	<include refid="dictTable"/>
		where 1=1
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>