<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComIntegralCustomerMapper">

	<sql id="integralCustomerColumns">integralCustomerId,parentId,roleId,integralCustomerCode,integralCustomerName,integralCustomerType,integralCustomerStatus,phone,password,userIconSrc,remarks,level,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="integralCustomerTable">com_integral_customer_tree</sql>
	
	<resultMap type="comIntegralCustomer" id="comIntegralCustomerResultMap">
		<id column="integralCustomerId" property="integralCustomerId"/>
		<result column="roleId" property="roleId"/>
		<result column="integralCustomerCode" property="integralCustomerCode"/>
		<result column="integralCustomerName" property="integralCustomerName"/>
		<result column="integralCustomerType" property="integralCustomerType"/>
		<result column="integralCustomerStatus" property="integralCustomerStatus"/>
		<result column="phone" property="phone"/>
		<result column="password" property="password"/>
		<result column="userIconSrc" property="userIconSrc"/>
		<result column="remarks" property="remarks"/>
		<result column="level" property="level"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
		<result column="parentId" property="parentId"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comIntegralCustomer">
		insert into 
	<include refid="integralCustomerTable"/>
		( 
	<include refid="integralCustomerColumns"/>
		) values (
			#{integralCustomerId},#{parentId},#{roleId},#{integralCustomerCode},#{integralCustomerName},#{integralCustomerType},#{integralCustomerStatus},#{phone},#{password},#{userIconSrc},#{remarks},#{level},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comIntegralCustomer">
		update
	<include refid="integralCustomerTable"/>
		set 
			<if test="roleId!=null and roleId!=''">
			roleId = #{roleId},
			</if>
			<if test="integralCustomerCode!=null and integralCustomerCode!=''">
			integralCustomerCode = #{integralCustomerCode},
			</if>
			<if test="integralCustomerName!=null and integralCustomerName!=''">
			integralCustomerName = #{integralCustomerName},
			</if>
			<if test="integralCustomerType!=null and integralCustomerType!=''">
			integralCustomerType = #{integralCustomerType},
			</if>
			<if test="phone!=null and phone!=''">
			phone = #{phone},
			</if>
			<if test="password!=null and password!=''">
			password = #{password},
			</if>
			<if test="remarks!=null and remarks!=''">
			remarks = #{remarks},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			integralCustomerId = #{integralCustomerId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 改变 -->
	<update id="change" parameterType="comIntegralCustomer">
		update
	<include refid="integralCustomerTable"/>
		set 
			<if test="parentId!=null and parentId!=''">
			 parentId = #{parentId},
			 </if>
			<if test="roleId!=null and roleId!=''">
			roleId = #{roleId},
			</if>
			<if test="integralCustomerCode!=null and integralCustomerCode!=''">
			integralCustomerCode = #{integralCustomerCode},
			</if>
			<if test="integralCustomerName!=null and integralCustomerName!=''">
			integralCustomerName = #{integralCustomerName},
			</if>
			<if test="integralCustomerType!=null and integralCustomerType!=''">
			integralCustomerType = #{integralCustomerType},
			</if>
			<if test="integralCustomerStatus!=null and integralCustomerStatus!=''">
			integralCustomerStatus = #{integralCustomerStatus},
			</if>
			<if test="phone!=null and phone!=''">
			phone = #{phone},
			</if>
			<if test="password!=null and password!=''">
			password = #{password},
			</if>
			<if test="userIconSrc!=null and userIconSrc!=''">
			userIconSrc = #{userIconSrc},
			</if>
			<if test="remarks!=null and remarks!=''">
			remarks = #{remarks},
			</if>
			<if test="level!=null and level!=''">
			level = #{level},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			<if test="effective!=null and effective!=''">
			effective = #{effective},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			integralCustomerId = #{integralCustomerId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from 
	<include refid="integralCustomerTable"/>
		where 
			integralCustomerId = #{integralCustomerId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="integralCustomerTable"/>
		where 
			CONCAT(integralCustomerId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByPd" parameterType="pd" resultType="comIntegralCustomer">
		select 
	<include refid="integralCustomerColumns"/>
		from 
	<include refid="integralCustomerTable"/>
		where 
			integralCustomerId = #{integralCustomerId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="comIntegralCustomerResultMap">
		select 
	<include refid="integralCustomerColumns"/>
		from 
	<include refid="integralCustomerTable"/>
		where 1=1
			<if test="parentId!=null and parentId!=''">
			 and parentId = #{parentId}
			 </if>
		order by (orderNum+0) 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHave" parameterType="comIntegralCustomer" resultMap="comIntegralCustomerResultMap">
		select 
	<include refid="integralCustomerColumns"/>
		from 
	<include refid="integralCustomerTable"/>
		where 1=1
			<if test="integralCustomerId!=null and integralCustomerId!=''">
			 and integralCustomerId != #{integralCustomerId} 
			</if>
			<if test="parentId!=null and parentId!=''">
			 and parentId = #{parentId} 
			</if>
			<if test="roleId!=null and roleId!=''">
			 and roleId = #{roleId}
			</if>
			<if test="integralCustomerCode!=null and integralCustomerCode!=''">
			 and integralCustomerCode = #{integralCustomerCode}
			</if>
			<if test="integralCustomerName!=null and integralCustomerName!=''">
			 and integralCustomerName = #{integralCustomerName}
			</if>
			<if test="integralCustomerType!=null and integralCustomerType!=''">
			 and integralCustomerType = #{integralCustomerType}
			</if>
			<if test="integralCustomerStatus!=null and integralCustomerStatus!=''">
			 and integralCustomerStatus = #{integralCustomerStatus}
			</if>
			<if test="phone!=null and phone!=''">
			 and phone = #{phone}
			</if>
			<if test="password!=null and password!=''">
			 and password = #{password}
			</if>
			<if test="userIconSrc!=null and userIconSrc!=''">
			 and userIconSrc = #{userIconSrc}
			</if>
			<if test="remarks!=null and remarks!=''">
			 and remarks = #{remarks}
			</if>
			<if test="level!=null and level!=''">
			 and level = #{level}
			</if>
			<if test="orderNum!=null and orderNum!=''">
			 and orderNum = #{orderNum}
			</if>
			<if test="effective!=null and effective!=''">
			 and effective = #{effective}
			</if>
			<if test="createUserId!=null and createUserId!=''">
			 and createUserId = #{createUserId}
			</if>
			<if test="createTime!=null and createTime!=''">
			 and createTime = #{createTime}
			</if>
			<if test="modifyUserId!=null and modifyUserId!=''">
			 and modifyUserId = #{modifyUserId}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
			 and modifyTime = #{modifyTime}
			</if>
		order by (orderNum+0) 
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="integralCustomerColumns"/>
		from 
	<include refid="integralCustomerTable"/>
		where 1=1
			<if test="pd.pId != null and pd.pId != ''"><!-- 角色检索 -->
			and parentId= #{pd.pId}
			</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				integralCustomerCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				integralCustomerName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0)
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>