<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComLbtMapper">

	<sql id="lbtColumns">lbtId,lbtCode,lbtType,lbtStatus,lbtImgSrc,description,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="lbtTable">com_lbt_info</sql>
	
	<resultMap type="comLbt" id="comLbtResultMap">
		<id column="lbtId" property="lbtId"/>
		<result column="lbtCode" property="lbtCode"/>
		<result column="lbtType" property="lbtType"/>
		<result column="lbtStatus" property="lbtStatus"/>
		<result column="lbtImgSrc" property="lbtImgSrc"/>
		<result column="description" property="description"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- 获取(类)List数据  -->
	<select id="listE" resultType="comLbt">
		select 
	<include refid="lbtColumns"/>
		from 
	<include refid="lbtTable"/>
		where effective = '01'
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comLbt">
		insert into 
	<include refid="lbtTable"/>
		( 
	<include refid="lbtColumns"/>
		) values (
			#{lbtId},#{lbtCode},#{lbtType},#{lbtStatus},#{lbtImgSrc},#{description},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comLbt">
		update
	<include refid="lbtTable"/>
		set 
			lbtCode = #{lbtCode},
			lbtType = #{lbtType},
			lbtImgSrc = #{lbtImgSrc},
			description = #{description},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			lbtId = #{lbtId} 
	</update>
	
	<!-- 更改状态-->
	<update id="changeStatus" parameterType="comLbt">
		update
	<include refid="lbtTable"/>
		set 
			lbtStatus = #{lbtStatus} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			lbtId = #{lbtId} 
			and changeStatus = #{oldValue}
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comReceiveAddress">
		update
	<include refid="lbtTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="lbtTable"/>
		where lbtId = #{lbtId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="lbtTable"/>
		where 
			lbtId in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comLbt">
		select 
	<include refid="lbtColumns"/>
		from 
	<include refid="lbtTable"/>
		where lbtId = #{lbtId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comLbt">
		select 
	<include refid="lbtColumns"/>
		from 
	<include refid="lbtTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHaveCode" parameterType="comLbt" resultMap="comLbtResultMap">
		select 
	<include refid="lbtColumns"/>
		from 
	<include refid="lbtTable"/>
		where lbtId != #{lbtId} 
			 and lbtCode = #{lbtCode}
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="lbtColumns"/>
		from 
	<include refid="lbtTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				lbtCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				lbtName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>