<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComOrderMapper">

	<sql id="orderColumns">orderId,orderCode,orderName,orderType,orderStatus,appUserId,orderProductCount,allPrice,freight,allDisPrice,walletPay,allActPrice,supplierName,supplierId,receiveAddressId,payTime,sendTime,tradeNum,payMethod,wlgs,wlNum,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="orderTable">com_order_main</sql>
	
	<resultMap type="comOrder" id="comOrderResultMap">
		<id column="orderId" property="orderId"/>
		<result column="orderCode" property="orderCode"/>
		<result column="orderName" property="orderName"/>
		<result column="orderType" property="orderType"/>
		<result column="orderStatus" property="orderStatus"/>
		<result column="appUserId" property="appUserId"/>
		<result column="orderProductCount" property="orderProductCount"/>
		<result column="allPrice" property="allPrice"/>
		<result column="freight" property="freight"/>
		<result column="allDisPrice" property="allDisPrice"/>
		<result column="walletPay" property="walletPay"/>
		<result column="allActPrice" property="allActPrice"/>
		<result column="supplierName" property="supplierName"/>
		<result column="supplierId" property="supplierId"/>
		<result column="receiveAddressId" property="receiveAddressId"/>
		<result column="payTime" property="payTime"/>
		<result column="sendTime" property="sendTime"/>
		<result column="tradeNum" property="tradeNum"/>
		<result column="payMethod" property="payMethod"/>
		<result column="wlgs" property="wlgs"/>
		<result column="wlNum" property="wlNum"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
		<collection property="comOrderDetailList" ofType="ComOrderDetail">
			<id column="orderDetailId" property="orderDetailId"/>
			<result column="productId" property="productId"/>
			<result column="productName" property="productName"/>
			<result column="summary" property="summary"/>
			<result column="productStyleId" property="productStyleId"/>
			<result column="productStyleName" property="productStyleName"/>
			<result column="headImgSrc" property="headImgSrc"/>
			<result column="originalPrice" property="originalPrice"/>
			<result column="currentPrice" property="currentPrice"/>
			<result column="count" property="count"/>
			<result column="orderNum" property="orderNum"/>
			<result column="effective" property="effective"/>
			<result column="createUserId" property="createUserId"/>
			<result column="createTime" property="createTime"/>
			<result column="modifyUserId" property="modifyUserId"/>
			<result column="modifyTime" property="modifyTime"/>
			<result column="orderId" property="orderId"/>
		</collection>
	</resultMap>
	
	<resultMap type="comOrder" id="comOrderResultMap1">
		<id column="orderId" property="orderId"/>
		<collection property="comOrderDetailList" ofType="com.jx.common.entity.ComOrderDetail">
			<id column="orderDetailId" property="orderDetailId"/>
		</collection>
	</resultMap>
	<!-- ****************************custom * start*********************************** -->
	
	<!-- 获取(类)List数据  -->
	<select id="listByOrderIdsSED" parameterType="pd" resultMap="comOrderResultMap" >
		SELECT
			*
		FROM
			com_order_main om
		LEFT JOIN com_order_detail od ON om.orderId = od.orderId
		WHERE
			om.appUserId = #{appUserId} 
		AND om.orderStatus = '01'
		AND om.effective = '01'
		AND od.effective = '01'
		<if test="orderIdArr != null">
		AND om.orderId in 
        <foreach item="id" index="index" collection="orderIdArr" open="(" separator="," close=")">
            #{id}
        </foreach>
		</if>
		order by (om.orderNum+0) DESC, (od.orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="findByUserED" parameterType="comOrder" resultMap="comOrderResultMap" >
		SELECT
			*
		FROM
			com_order_main om
		LEFT JOIN com_order_detail od ON om.orderId = od.orderId
		WHERE
			om.appUserId = #{appUserId} 
		AND om.orderStatus = '01'
		AND om.effective = '01'
		AND od.effective = '01'
		AND om.orderId = #{orderId} 
		order by (om.orderNum+0) DESC, (od.orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByUserE" parameterType="String" resultType="comOrder">
		select 
	<include refid="orderColumns"/>
		from 
	<include refid="orderTable"/>
		where appUserId = #{appUserId} 
		order by (orderNum+0) DESC
	</select>
	
	<update id="updateCode" parameterType="pd">
		UPDATE 
	<include refid="orderTable"/>
		SET orderCode = (
			SELECT
				A. CODE
			FROM
				(
					SELECT
		
					IF (
						MAX(orderCode) IS NULL,
						CONCAT(#{startN}, #{endN}),
						CONCAT(
							#{startN},
							SUBSTRING(MAX(orderCode), 14, 3) + 1
						)
					) CODE
					FROM
	<include refid="orderTable"/>
					WHERE
						LEFT (orderCode, 13) = #{startN}
				) A
		)
		WHERE
			orderId = #{orderId}
	</update>
	
	<update id="changeReceiveAddressIdByU" parameterType="comOrder">
		update
	<include refid="orderTable"/>
		set 
			receiveAddressId = #{receiveAddressId},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderId = #{orderId}
			and appUserId = #{appUserId}
	</update>
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comOrder">
		insert into 
	<include refid="orderTable"/>
		( 
	<include refid="orderColumns"/>
		) values (
			#{orderId},#{orderCode},#{orderName},#{orderType},#{orderStatus},#{appUserId},#{orderProductCount},#{allPrice},#{freight},#{allDisPrice},#{walletPay},#{allActPrice},#{supplierName},#{supplierId},#{receiveAddressId},#{payTime},#{sendTime},#{tradeNum},#{payMethod},#{wlgs},#{wlNum},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comOrder">
		update
	<include refid="orderTable"/>
		set 
			orderCode = #{orderCode},
			orderName = #{orderName},
			orderType = #{orderType},
			orderStatus = #{orderStatus},
			appUserId = #{appUserId},
			orderProductCount = #{orderProductCount},
			allPrice = #{allPrice},
			freight = #{freight},
			allDisPrice = #{allDisPrice},
			walletPay = #{walletPay},
			allActPrice = #{allActPrice},
			supplierId = #{supplierId},
			receiveAddressId = #{receiveAddressId},
			tradeNum = #{tradeNum},
			payMethod = #{payMethod},
			wlgs = #{wlgs},
			wlNum = #{wlNum},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderId = #{orderId} 
	</update>
	
	<!-- 更改状态-->
	<update id="changeStatus" parameterType="comOrder">
		update
	<include refid="orderTable"/>
		set 
			orderStatus = #{orderStatus} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderId = #{orderId}
			and effective = #{oldValue}
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comOrder">
		update
	<include refid="orderTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderId = #{orderId}
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="orderTable"/>
		where orderId = #{orderId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="orderTable"/>
		where 
			CONCAT(orderId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comOrder">
		select 
	<include refid="orderColumns"/>
		from 
	<include refid="orderTable"/>
		where orderId = #{orderId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comOrder">
		select 
	<include refid="orderColumns"/>
		from 
	<include refid="orderTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHaveCode" parameterType="comOrder" resultType="comOrder">
		select 
	<include refid="orderColumns"/>
		from 
	<include refid="orderTable"/>
		where orderId != #{orderId} 
			 and orderCode = #{orderCode}
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="orderColumns"/>
		from 
	<include refid="orderTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				orderCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				orderName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>