<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComOrderProductMapper">

	<sql id="orderProductColumns">orderProductId,orderId,productId,productName,summary,productStyleName,headImgSrc,originalPrice,currentPrice,count,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="orderProductTable">com_order_product_info</sql>
	
	<resultMap type="comOrderProduct" id="comOrderProductResultMap">
		<id column="orderProductId" property="orderProductId"/>
		<result column="orderId" property="orderId"/>
		<result column="productId" property="productId"/>
		<result column="productName" property="productName"/>
		<result column="summary" property="summary"/>
		<result column="productStyleName" property="productStyleName"/>
		<result column="headImgSrc" property="headImgSrc"/>
		<result column="originalPrice" property="originalPrice"/>
		<result column="currentPrice" property="currentPrice"/>
		<result column="count" property="count"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comOrderProduct">
		insert into 
	<include refid="orderProductTable"/>
		( 
	<include refid="orderProductColumns"/>
		) values (
			#{orderProductId},#{orderId},#{productId},#{productName},#{summary},#{productStyleName},#{headImgSrc},#{originalPrice},#{currentPrice},#{count},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comOrderProduct">
		update
	<include refid="orderProductTable"/>
		set 
			<if test="orderId!=null and orderId!=''">
			orderId = #{orderId},
			</if>
			<if test="productId!=null and productId!=''">
			productId = #{productId},
			</if>
			<if test="productName!=null and productName!=''">
			productName = #{productName},
			</if>
			<if test="summary!=null and summary!=''">
			summary = #{summary},
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			productStyleName = #{productStyleName},
			</if>
			<if test="headImgSrc!=null and headImgSrc!=''">
			headImgSrc = #{headImgSrc},
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			originalPrice = #{originalPrice},
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			currentPrice = #{currentPrice},
			</if>
			<if test="count!=null and count!=''">
			count = #{count},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderProductId = #{orderProductId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 改变 -->
	<update id="change" parameterType="comOrderProduct">
		update
	<include refid="orderProductTable"/>
		set 
			<if test="orderId!=null and orderId!=''">
			orderId = #{orderId},
			</if>
			<if test="productId!=null and productId!=''">
			productId = #{productId},
			</if>
			<if test="productName!=null and productName!=''">
			productName = #{productName},
			</if>
			<if test="summary!=null and summary!=''">
			summary = #{summary},
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			productStyleName = #{productStyleName},
			</if>
			<if test="headImgSrc!=null and headImgSrc!=''">
			headImgSrc = #{headImgSrc},
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			originalPrice = #{originalPrice},
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			currentPrice = #{currentPrice},
			</if>
			<if test="count!=null and count!=''">
			count = #{count},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			<if test="effective!=null and effective!=''">
			effective = #{effective},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			orderProductId = #{orderProductId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from 
	<include refid="orderProductTable"/>
		where 
			orderProductId = #{orderProductId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="orderProductTable"/>
		where 
			CONCAT(orderProductId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByPd" parameterType="pd" resultType="comOrderProduct">
		select 
	<include refid="orderProductColumns"/>
		from 
	<include refid="orderProductTable"/>
		where 
			orderProductId = #{orderProductId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="comOrderProductResultMap">
		select 
	<include refid="orderProductColumns"/>
		from 
	<include refid="orderProductTable"/>
		where 1=1
		order by (orderNum+0) 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHave" parameterType="comOrderProduct" resultMap="comOrderProductResultMap">
		select 
	<include refid="orderProductColumns"/>
		from 
	<include refid="orderProductTable"/>
		where 1=1
			<if test="orderProductId!=null and orderProductId!=''">
			 and orderProductId != #{orderProductId} 
			</if>
			<if test="orderId!=null and orderId!=''">
			 and orderId = #{orderId}
			</if>
			<if test="productId!=null and productId!=''">
			 and productId = #{productId}
			</if>
			<if test="productName!=null and productName!=''">
			 and productName = #{productName}
			</if>
			<if test="summary!=null and summary!=''">
			 and summary = #{summary}
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			 and productStyleName = #{productStyleName}
			</if>
			<if test="headImgSrc!=null and headImgSrc!=''">
			 and headImgSrc = #{headImgSrc}
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			 and originalPrice = #{originalPrice}
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			 and currentPrice = #{currentPrice}
			</if>
			<if test="count!=null and count!=''">
			 and count = #{count}
			</if>
			<if test="orderNum!=null and orderNum!=''">
			 and orderNum = #{orderNum}
			</if>
			<if test="effective!=null and effective!=''">
			 and effective = #{effective}
			</if>
			<if test="createUserId!=null and createUserId!=''">
			 and createUserId = #{createUserId}
			</if>
			<if test="createTime!=null and createTime!=''">
			 and createTime = #{createTime}
			</if>
			<if test="modifyUserId!=null and modifyUserId!=''">
			 and modifyUserId = #{modifyUserId}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
			 and modifyTime = #{modifyTime}
			</if>
		order by (orderNum+0) 
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="orderProductColumns"/>
		from 
	<include refid="orderProductTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				orderProductCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				orderProductName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0)
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>