<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComProductStyleMapper">

	<sql id="productStyleColumns">productStyleId,productStyleInitId,productId,productStyleCode,productStyleName,productStyleType,productStyleStatus,stockNum,originalPrice,curType,discountRate,discountPrice,currentPrice,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="productStyleTable">com_product_style_info</sql>
	
	<resultMap type="comProductStyle" id="comProductStyleResultMap">
		<id column="productStyleId" property="productStyleId"/>
		<result column="productStyleInitId" property="productStyleInitId"/>
		<result column="productId" property="productId"/>
		<result column="productStyleCode" property="productStyleCode"/>
		<result column="productStyleName" property="productStyleName"/>
		<result column="productStyleType" property="productStyleType"/>
		<result column="productStyleStatus" property="productStyleStatus"/>
		<result column="stockNum" property="stockNum"/>
		<result column="originalPrice" property="originalPrice"/>
		<result column="curType" property="curType"/>
		<result column="discountRate" property="discountRate"/>
		<result column="discountPrice" property="discountPrice"/>
		<result column="currentPrice" property="currentPrice"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comProductStyle">
		insert into 
	<include refid="productStyleTable"/>
		( 
	<include refid="productStyleColumns"/>
		) values (
			#{productStyleId},#{productStyleInitId},#{productId},#{productStyleCode},#{productStyleName},#{productStyleType},#{productStyleStatus},#{stockNum},#{originalPrice},#{curType},#{discountRate},#{discountPrice},#{currentPrice},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comProductStyle">
		update
	<include refid="productStyleTable"/>
		set 
			<if test="productId!=null and productId!=''">
			productId = #{productId},
			</if>
			<if test="productStyleCode!=null and productStyleCode!=''">
			productStyleCode = #{productStyleCode},
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			productStyleName = #{productStyleName},
			</if>
			<if test="productStyleType!=null and productStyleType!=''">
			productStyleType = #{productStyleType},
			</if>
			<if test="stockNum!=null and stockNum!=''">
			stockNum = #{stockNum},
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			originalPrice = #{originalPrice},
			</if>
			<if test="curType!=null and curType!=''">
			curType = #{curType},
			</if>
			<if test="discountRate!=null and discountRate!=''">
			discountRate = #{discountRate},
			</if>
			<if test="discountPrice!=null and discountPrice!=''">
			discountPrice = #{discountPrice},
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			currentPrice = #{currentPrice},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productStyleId = #{productStyleId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 改变 -->
	<update id="change" parameterType="comProductStyle">
		update
	<include refid="productStyleTable"/>
		set 
			<if test="productStyleInitId!=null and productStyleInitId!=''">
			productStyleInitId = #{productStyleInitId},
			</if>
			<if test="productId!=null and productId!=''">
			productId = #{productId},
			</if>
			<if test="productStyleCode!=null and productStyleCode!=''">
			productStyleCode = #{productStyleCode},
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			productStyleName = #{productStyleName},
			</if>
			<if test="productStyleType!=null and productStyleType!=''">
			productStyleType = #{productStyleType},
			</if>
			<if test="productStyleStatus!=null and productStyleStatus!=''">
			productStyleStatus = #{productStyleStatus},
			</if>
			<if test="stockNum!=null and stockNum!=''">
			stockNum = #{stockNum},
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			originalPrice = #{originalPrice},
			</if>
			<if test="curType!=null and curType!=''">
			curType = #{curType},
			</if>
			<if test="discountRate!=null and discountRate!=''">
			discountRate = #{discountRate},
			</if>
			<if test="discountPrice!=null and discountPrice!=''">
			discountPrice = #{discountPrice},
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			currentPrice = #{currentPrice},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			<if test="effective!=null and effective!=''">
			effective = #{effective},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productStyleId = #{productStyleId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from 
	<include refid="productStyleTable"/>
		where 
			productStyleId = #{productStyleId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="productStyleTable"/>
		where 
			CONCAT(productStyleId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByPd" parameterType="pd" resultType="comProductStyle">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where 
			productStyleId = #{productStyleId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="comProductStyleResultMap">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where 1=1
			<if test="productId!=null">
			 and productId = #{productId}
			</if>
		order by (orderNum+0) 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHave" parameterType="comProductStyle" resultMap="comProductStyleResultMap">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where 1=1
			<if test="productStyleId!=null and productStyleId!=''">
			 and productStyleId != #{productStyleId} 
			</if>
			<if test="productStyleInitId!=null and productStyleInitId!=''">
			 and productStyleInitId = #{productStyleInitId}
			</if>
			<if test="productId!=null and productId!=''">
			 and productId = #{productId}
			</if>
			<if test="productStyleCode!=null and productStyleCode!=''">
			 and productStyleCode = #{productStyleCode}
			</if>
			<if test="productStyleName!=null and productStyleName!=''">
			 and productStyleName = #{productStyleName}
			</if>
			<if test="productStyleType!=null and productStyleType!=''">
			 and productStyleType = #{productStyleType}
			</if>
			<if test="productStyleStatus!=null and productStyleStatus!=''">
			 and productStyleStatus = #{productStyleStatus}
			</if>
			<if test="stockNum!=null and stockNum!=''">
			 and stockNum = #{stockNum}
			</if>
			<if test="originalPrice!=null and originalPrice!=''">
			 and originalPrice = #{originalPrice}
			</if>
			<if test="curType!=null and curType!=''">
			 and curType = #{curType}
			</if>
			<if test="discountRate!=null and discountRate!=''">
			 and discountRate = #{discountRate}
			</if>
			<if test="discountPrice!=null and discountPrice!=''">
			 and discountPrice = #{discountPrice}
			</if>
			<if test="currentPrice!=null and currentPrice!=''">
			 and currentPrice = #{currentPrice}
			</if>
			<if test="orderNum!=null and orderNum!=''">
			 and orderNum = #{orderNum}
			</if>
			<if test="effective!=null and effective!=''">
			 and effective = #{effective}
			</if>
			<if test="createUserId!=null and createUserId!=''">
			 and createUserId = #{createUserId}
			</if>
			<if test="createTime!=null and createTime!=''">
			 and createTime = #{createTime}
			</if>
			<if test="modifyUserId!=null and modifyUserId!=''">
			 and modifyUserId = #{modifyUserId}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
			 and modifyTime = #{modifyTime}
			</if>
		order by (orderNum+0) 
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where 1=1
		<if test="pd.productId!=null">
			 and productId = #{pd.productId}
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				productStyleCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				productStyleName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0)
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>