<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComProductStyleMapper">

	<sql id="productStyleColumns">productStyleId,productId,productStyleCode,productStyleName,productStyleType,productStyleStatus,allStockNum,stockNum,originalPrice,curType,discountRate,discountPrice,currentPrice,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="productStyleTable">com_product_style_info</sql>
	
	<resultMap type="comProductStyle" id="comProductStyleResultMap">
		<id column="productStyleId" property="productStyleId"/>
		<result column="productId" property="productId"/>
		<result column="productStyleCode" property="productStyleCode"/>
		<result column="productStyleName" property="productStyleName"/>
		<result column="productStyleType" property="productStyleType"/>
		<result column="productStyleStatus" property="productStyleStatus"/>
		<result column="allStockNum" property="allStockNum"/>
		<result column="stockNum" property="stockNum"/>
		<result column="originalPrice" property="originalPrice"/>
		<result column="curType" property="curType"/>
		<result column="discountRate" property="discountRate"/>
		<result column="discountPrice" property="discountPrice"/>
		<result column="currentPrice" property="currentPrice"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- 获取(类)List数据  -->
	<select id="listByProductIdSE" parameterType="String" resultType="comProductStyle">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where productId = #{productId} 
			and productStyleStatus = '01' 
			and effective = '01'
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByIdSE" parameterType="String" resultType="comProductStyle">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where productStyleId = #{productStyleId} 
			and productStyleStatus = '01' 
			and effective = '01'
	</select>
	
	<update id="updateCode" parameterType="pd">
		UPDATE 
	<include refid="productStyleTable"/>
		SET productStyleCode = CONCAT(
			#{startC},
			(
				SELECT
					A.CODE
				FROM
					(
						SELECT
							(
								COALESCE (
									REPLACE (MAX(productStyleCode), #{startC}, ''),
									#{startN}
								) + #{addValue}
							) CODE
						FROM
	<include refid="productStyleTable"/>
					) A
			)
		)
		WHERE
			productStyleId = #{productStyleId};
	</update>
	
	<!-- 加减改值 -->
	<update id="toAddStockNum" parameterType="comProductStyle">
		update
	<include refid="productStyleTable"/>
		set
			stockNum = stockNum + (#{stockNum}),
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productStyleId = #{productStyleId} and  
			stockNum >= 0 and 
			(stockNum + (#{stockNum})) >= 0 and 
			((#{stockNum}>0) or 0>(#{stockNum}))	
	</update>
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comProductStyle">
		insert into 
	<include refid="productStyleTable"/>
		( 
	<include refid="productStyleColumns"/>
		) values (
			#{productStyleId},#{productId},#{productStyleCode},#{productStyleName},#{productStyleType},#{productStyleStatus},#{allStockNum},#{stockNum},#{originalPrice},#{curType},#{discountRate},#{discountPrice},#{currentPrice},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comProductStyle">
		update
	<include refid="productStyleTable"/>
		set 
			productId = #{productId},
			productStyleName = #{productStyleName},
			productStyleType = #{productStyleType},
			productStyleStatus = #{productStyleStatus},
			allStockNum = allStockNum + #{stockNum} - stockNum,
			stockNum = #{stockNum},
			originalPrice = #{originalPrice},
			curType = #{curType},
			discountRate = #{discountRate},
			discountPrice = #{discountPrice},
			currentPrice = #{currentPrice},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productStyleId = #{productStyleId} 
	</update>
	
	<!-- 更改状态-->
	<update id="changeStatus" parameterType="comReceiveAddress">
		update
	<include refid="productStyleTable"/>
		set 
			productStyleStatus = #{productStyleStatus} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comReceiveAddress">
		update
	<include refid="productStyleTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="productStyleTable"/>
		where productStyleId = #{productStyleId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="productStyleTable"/>
		where 
			productStyleId in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comProductStyle">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where productStyleId = #{productStyleId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comProductStyle">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHaveCode" parameterType="comProductStyle" resultMap="comProductStyleResultMap">
		select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where productStyleId != #{productStyleId} 
			 and productStyleCode = #{productStyleCode}
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="productStyleColumns"/>
		from 
	<include refid="productStyleTable"/>
		where 1=1
			<if test="pd.productId!=null">
			 and productId = #{pd.productId}
			</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				productStyleCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				productStyleName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>