<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComProductSEMapper">

	<resultMap type="comProduct" id="comProductMapList">
		<id column="productId" property="productId"/>
		<result column="supplierId" property="supplierId"/>
		<result column="productCode" property="productCode"/>
		<result column="productName" property="productName"/>
		<result column="productType" property="productType"/>
		<result column="productStatus" property="productStatus"/>
		<result column="productModel" property="productModel"/>
		<result column="summary" property="summary"/>
		<result column="introduction" property="introduction"/>
		<result column="headImgSrc" property="headImgSrc"/>
		<result column="imgSrc1" property="imgSrc1"/>
		<result column="imgSrc2" property="imgSrc2"/>
		<result column="imgSrc3" property="imgSrc3"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
		<association column="productStyleId" property="comProductStyle" javaType="ComProductStyle">
			<id column="productStyleId" property="productStyleId"/>
			<result column="productId" property="productId"/>
			<result column="productStyleCode" property="productStyleCode"/>
			<result column="productStyleName" property="productStyleName"/>
			<result column="productStyleType" property="productStyleType"/>
			<result column="productStyleStatus" property="productStyleStatus"/>
			<result column="allStockNum" property="allStockNum"/>
			<result column="stockNum" property="stockNum"/>
			<result column="originalPrice" property="originalPrice"/>
			<result column="curType" property="curType"/>
			<result column="discountRate" property="discountRate"/>
			<result column="discountPrice" property="discountPrice"/>
			<result column="currentPrice" property="currentPrice"/>
			<result column="orderNum" property="orderNum"/>
			<result column="effective" property="effective"/>
			<result column="createUserId" property="createUserId"/>
			<result column="createTime" property="createTime"/>
			<result column="modifyUserId" property="modifyUserId"/>
			<result column="modifyTime" property="modifyTime"/>
		</association>
	</resultMap>
	
	
	<resultMap type="comShopCar" id="comShopCarMapList">
		<id column="shopCarId" property="shopCarId"/>
		<result column="appUserId" property="appUserId"/>
		<result column="productStyleId" property="productStyleId"/>
		<result column="count" property="count"/>
		<result column="shopCarStatus" property="shopCarStatus"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
		<association column="productId" property="comProduct" javaType="ComProduct">
			<id column="productId" property="productId"/>
			<result column="supplierId" property="supplierId"/>
			<result column="productCode" property="productCode"/>
			<result column="productName" property="productName"/>
			<result column="productType" property="productType"/>
			<result column="productStatus" property="productStatus"/>
			<result column="productModel" property="productModel"/>
			<result column="summary" property="summary"/>
			<result column="introduction" property="introduction"/>
			<result column="headImgSrc" property="headImgSrc"/>
			<result column="imgSrc1" property="imgSrc1"/>
			<result column="imgSrc2" property="imgSrc2"/>
			<result column="imgSrc3" property="imgSrc3"/>
			<result column="orderNum" property="orderNum"/>
			<result column="effective" property="effective"/>
			<result column="createUserId" property="createUserId"/>
			<result column="createTime" property="createTime"/>
			<result column="modifyUserId" property="modifyUserId"/>
			<result column="modifyTime" property="modifyTime"/>
			<association column="productStyleId" property="comProductStyle" javaType="ComProductStyle">
				<id column="productStyleId" property="productStyleId"/>
				<result column="productId" property="productId"/>
				<result column="productStyleCode" property="productStyleCode"/>
				<result column="productStyleName" property="productStyleName"/>
				<result column="productStyleType" property="productStyleType"/>
				<result column="productStyleStatus" property="productStyleStatus"/>
				<result column="allStockNum" property="allStockNum"/>
				<result column="stockNum" property="stockNum"/>
				<result column="originalPrice" property="originalPrice"/>
				<result column="curType" property="curType"/>
				<result column="discountRate" property="discountRate"/>
				<result column="discountPrice" property="discountPrice"/>
				<result column="currentPrice" property="currentPrice"/>
				<result column="orderNum" property="orderNum"/>
				<result column="effective" property="effective"/>
				<result column="createUserId" property="createUserId"/>
				<result column="createTime" property="createTime"/>
				<result column="modifyUserId" property="modifyUserId"/>
				<result column="modifyTime" property="modifyTime"/>
			</association>
		</association>
	</resultMap>

	<select id="listProductByCategoryCodeSE" parameterType="String" resultMap="comProductMapList">
		SELECT
			p.*,
			ps.*,
			MIN(ps.currentPrice) as currentPrice
		FROM
			com_product_category_detail pcd
		LEFT JOIN com_product_category_main pcm ON pcd.productCategoryId = pcm.productCategoryId
		LEFT JOIN com_product_info p ON pcd.productId = p.productId
		LEFT JOIN com_product_style_info ps ON p.productId = ps.productId
		WHERE
			pcm.productCategoryCode = #{categoryCode }
		AND p.effective = '01'
		AND p.productStatus = '01'
		AND ps.effective = '01'
		AND ps.productStyleStatus = '01'
		GROUP BY
			ps.productId
		ORDER BY
			pcd.orderNum DESC
	</select>
	
	<select id="findProductByProductStyleIdSE" parameterType="String" resultMap="comProductMapList">
		SELECT
			p.*,
			ps.*
		FROM
			com_product_info p
		LEFT JOIN com_product_style_info ps ON p.productId = ps.productId
		WHERE
			ps.productStyleId = #{productStyleId }
		AND p.effective = '01'
		AND p.productStatus = '01'
		AND ps.effective = '01'
		AND ps.productStyleStatus = '01'
	</select>
	
	<select id="listShopCarByUserSE" parameterType="pd" resultMap="comShopCarMapList">
		SELECT
			sc.*,
			p.*,
			ps.*
		FROM
			com_shop_car_info sc
		LEFT JOIN com_product_style_info ps ON sc.productStyleId = ps.productStyleId
		LEFT JOIN com_product_info p ON p.productId = ps.productId
		WHERE
			sc.appUserId = #{appUserId }
		AND sc.effective = '01'
		AND sc.shopCarStatus = '01'
		AND p.effective = '01'
		AND p.productStatus = '01'
		AND ps.effective = '01'
		AND ps.productStyleStatus = '01'
		<if test="shopCarIdArr != null">
		AND sc.shopCarId in 
        <foreach item="id" index="index" collection="shopCarIdArr" open="(" separator="," close=")">
            #{id}
        </foreach>
		</if>
		ORDER BY
			sc.orderNum DESC
	</select>
	
</mapper>