<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComProductCategoryDetailMapper">

	<sql id="productCategoryDetailColumns">productCategoryDetailId,productCategoryId,productId,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="productCategoryDetailTable">com_product_category_detail</sql>
	
	<resultMap type="comProductCategoryDetail" id="comProductCategoryDetailResultMap">
		<id column="productCategoryDetailId" property="productCategoryDetailId"/>
		<result column="productId" property="productId"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
		<result column="productCategoryId" property="productCategoryId"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- 获取(类)List数据  -->
	<select id="findById1" parameterType="comProductCategoryDetail" resultType="comProductCategoryDetail">
		select 
	<include refid="productCategoryDetailColumns"/>
		from 
	<include refid="productCategoryDetailTable"/>
		where productCategoryId = #{productCategoryId} 
			and productId = #{productId} 
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByParentId" parameterType="String" resultType="comProductCategoryDetail">
		select 
	<include refid="productCategoryDetailColumns"/>
		from 
	<include refid="productCategoryDetailTable"/>
		where productCategoryId = #{productCategoryId} 
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comProductCategoryDetail">
		insert into 
	<include refid="productCategoryDetailTable"/>
		( 
	<include refid="productCategoryDetailColumns"/>
		) values (
			#{productCategoryDetailId},#{productCategoryId},#{productId},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comProductCategoryDetail">
		update
	<include refid="productCategoryDetailTable"/>
		set 
			productId = #{productId},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productCategoryDetailId = #{productCategoryDetailId} 
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comProductCategoryDetail">
		update
	<include refid="productCategoryDetailTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			productCategoryDetailId = #{productCategoryDetailId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="productCategoryDetailTable"/>
		where productCategoryDetailId = #{productCategoryDetailId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="productCategoryDetailTable"/>
		where 
			productCategoryDetailId in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comProductCategoryDetail">
		select 
	<include refid="productCategoryDetailColumns"/>
		from 
	<include refid="productCategoryDetailTable"/>
		where productCategoryDetailId = #{productCategoryDetailId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comProductCategoryDetail">
		select 
	<include refid="productCategoryDetailColumns"/>
		from 
	<include refid="productCategoryDetailTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="productCategoryDetailColumns"/>
		from 
	<include refid="productCategoryDetailTable"/>
		where 1=1
		<if test="pd.productCategoryId!= null and pd.productCategoryId != ''"><!-- 关键词检索 -->
			and productCategoryId = #{pd.productCategoryId}
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				productCategoryDetailCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				productCategoryDetailName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>