<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComReceiveAddressMapper">

	<sql id="receiveAddressColumns">receiveAddressId,appUserId,receicerName,phone,province,city,district,street,detail,receiveAddressStatus,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="receiveAddressTable">com_receive_address_info</sql>
	
	<resultMap type="comReceiveAddress" id="comReceiveAddressResultMap">
		<id column="receiveAddressId" property="receiveAddressId"/>
		<result column="appUserId" property="appUserId"/>
		<result column="receicerName" property="receicerName"/>
		<result column="phone" property="phone"/>
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="district" property="district"/>
		<result column="street" property="street"/>
		<result column="detail" property="detail"/>
		<result column="receiveAddressStatus" property="receiveAddressStatus"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- 修改 -->
	<update id="editByUserE" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			receicerName = #{receicerName},
			phone = #{phone},
			province = #{province},
			city = #{city},
			district = #{district},
			street = #{street},
			detail = #{detail},
			defaultStatus = #{defaultStatus},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and appUserId = #{appUserId}
			and effective = '01'
	</update>
	
	<!-- 改变 -->
	<update id="toDisdefaultE" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			defaultStatus = '00',
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			appUserId = #{appUserId}
			and defaultStatus = '01'
			and effective = '01'
	</update>
	
	<!-- 改变 -->
	<update id="toDefaultE" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			defaultStatus = '01',
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and appUserId = #{appUserId}
			and defaultStatus = '00'
			and effective = '01'
	</update>
	
	<!-- 改变 -->
	<update id="toDisableByUserIdAndIdE" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			defaultStatus = '00',
			effective = '00',
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and appUserId = #{appUserId}
			and effective = '01'
	</update>
	
	
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comReceiveAddress">
		insert into 
	<include refid="receiveAddressTable"/>
		( 
	<include refid="receiveAddressColumns"/>
		) values (
			#{receiveAddressId},#{appUserId},#{receicerName},#{phone},#{province},#{city},#{district},#{street},#{detail},#{receiveAddressStatus},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			appUserId = #{appUserId},
			receicerName = #{receicerName},
			phone = #{phone},
			province = #{province},
			city = #{city},
			district = #{district},
			street = #{street},
			detail = #{detail},
			receiveAddressStatus = #{receiveAddressStatus},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeStatus" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			receiveAddressStatus = #{ReceiveAddressStatus} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comReceiveAddress">
		update
	<include refid="receiveAddressTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="receiveAddressTable"/>
		where receiveAddressId = #{receiveAddressId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="receiveAddressTable"/>
		where 
			CONCAT(receiveAddressId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comReceiveAddress">
		select 
	<include refid="receiveAddressColumns"/>
		from 
	<include refid="receiveAddressTable"/>
		where receiveAddressId = #{receiveAddressId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comReceiveAddress">
		select 
	<include refid="receiveAddressColumns"/>
		from 
	<include refid="receiveAddressTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHaveCode" parameterType="comReceiveAddress" resultMap="comReceiveAddressResultMap">
		select 
	<include refid="receiveAddressColumns"/>
		from 
	<include refid="receiveAddressTable"/>
		where receiveAddressId != #{receiveAddressId} 
			 and receiveAddressCode = #{receiveAddressCode}
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="receiveAddressColumns"/>
		from 
	<include refid="receiveAddressTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				receiveAddressCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				receiveAddressName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>