<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComSupplierMapper">

	<sql id="supplierColumns">supplierId,supplierCode,supplierName,supplierType,supplierStatus,linkman,linkPhone,remarks,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="supplierTable">com_supplier_info</sql>
	
	<resultMap type="comSupplier" id="comSupplierResultMap">
		<id column="supplierId" property="supplierId"/>
		<result column="supplierCode" property="supplierCode"/>
		<result column="supplierName" property="supplierName"/>
		<result column="supplierType" property="supplierType"/>
		<result column="supplierStatus" property="supplierStatus"/>
		<result column="linkman" property="linkman"/>
		<result column="linkPhone" property="linkPhone"/>
		<result column="remarks" property="remarks"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<update id="updateCode" parameterType="pd">
		UPDATE 
	<include refid="supplierTable"/>
		SET supplierCode = CONCAT(
			#{startC},
			(
				SELECT
					A.CODE
				FROM
					(
						SELECT
							(
								COALESCE (
									REPLACE (MAX(supplierCode), #{startC}, ''),
									#{startN}
								) + #{addValue}
							) CODE
						FROM
	<include refid="supplierTable"/>
					) A
			)
		)
		WHERE
			supplierId = #{supplierId};
	</update>
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="comSupplier">
		insert into 
	<include refid="supplierTable"/>
		( 
	<include refid="supplierColumns"/>
		) values (
			#{supplierId},#{supplierCode},#{supplierName},#{supplierType},#{supplierStatus},#{linkman},#{linkPhone},#{remarks},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="comSupplier">
		update
	<include refid="supplierTable"/>
		set 
			supplierName = #{supplierName},
			supplierType = #{supplierType},
			linkman = #{linkman},
			linkPhone = #{linkPhone},
			remarks = #{remarks},
			orderNum = #{orderNum},
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			supplierId = #{supplierId} 
	</update>
	
	<!-- 更改状态-->
	<update id="changeStatus" parameterType="comReceiveAddress">
		update
	<include refid="supplierTable"/>
		set 
			supplierStatus = #{supplierStatus} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 更改有效性 -->
	<update id="changeEffective" parameterType="comReceiveAddress">
		update
	<include refid="supplierTable"/>
		set 
			effective = #{effective} ,
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			receiveAddressId = #{receiveAddressId} 
			and effective = #{oldValue}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="String">
		delete from 
	<include refid="supplierTable"/>
		where supplierId = #{supplierId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="supplierTable"/>
		where 
			CONCAT(supplierId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="String" resultType="comSupplier">
		select 
	<include refid="supplierColumns"/>
		from 
	<include refid="supplierTable"/>
		where supplierId = #{supplierId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listAll" resultType="comSupplier">
		select 
	<include refid="supplierColumns"/>
		from 
	<include refid="supplierTable"/>
		order by (orderNum+0) DESC
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHaveCode" parameterType="comSupplier" resultMap="comSupplierResultMap">
		select 
	<include refid="supplierColumns"/>
		from 
	<include refid="supplierTable"/>
		where supplierId != #{supplierId} 
			 and supplierCode = #{supplierCode}
		order by (orderNum+0) DESC
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="supplierColumns"/>
		from 
	<include refid="supplierTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				supplierCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				supplierName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0) DESC
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>