<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SQLDictMapper">

	<resultMap type="comDict" id="comDictResultMap">
		<result column="dictName" property="dictName"/>
		<result column="dictValue" property="dictValue"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
		<select id="sqlSelect" parameterType="pd" resultMap="comDictResultMap">
		
		<if test="type=='bg_userEffective'">
			select userName as dictName, userId as dictValue
			from bg_user_info 
			where effective = '01'
			<if test="value!=null and value!=''">
				userCode = #{value} 
			</if>
		</if>
		
		</select>
		
	<!-- ****************************common * end  ********************************** -->
	
</mapper>