<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SQLDictMapper">

	<resultMap type="comDict" id="comDictResultMap">
		<result column="dictName" property="dictName"/>
		<result column="dictValue" property="dictValue"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
		<!-- 后台生效用户 -->
		<select id="bg_userEffective" parameterType="pd" resultMap="comDictResultMap">
			select userName as dictName, userId as dictValue
			from bg_user_info 
			where effective = '01'
			<if test="value!=null and value!=''">
				and userId= #{value} 
			</if>
		</select>
		
		<!-- 后台生效角色 -->
		<select id="bg_roleEffective" parameterType="pd" resultMap="comDictResultMap">
			select roleName as dictName, roleId as dictValue
			from bg_role_info 
			where effective = '01'
			<if test="value!=null and value!=''">
				and roleId= #{value} 
			</if>
		</select>
		
		<!-- 后台生效菜单 -->
		<select id="bg_menuEffective" parameterType="pd" resultMap="comDictResultMap">
			select menuName as dictName, menuId as dictValue
			from bg_menu_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and menuId= #{value} 
			</if>
		</select>
		
		<!-- 生效代码生成器 -->
		<select id="bg_mapleEffective" parameterType="pd" resultMap="comDictResultMap">
			select mapleName as dictName, mapleId as dictValue
			from bg_maple_main
			where effective = '01'
			<if test="value!=null and value!=''">
				and mapleId= #{value} 
			</if>
		</select>
		
		<!-- com_dictEffective -->
		<select id="com_dictEffective" parameterType="pd" resultMap="comDictResultMap">
			select dictName as dictName, dictId as dictValue
			from com_dict_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and dictId = #{value} 
			</if>
		</select>
		
		<!-- 生效平台用户 -->
		<select id="com_appUserEffective" parameterType="pd" resultMap="comDictResultMap">
			select appUserName as dictName, appUserId as dictValue
			from com_app_user_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and appUserId = #{value} 
			</if>
		</select>
		
		<!-- 生效平台用户（4S店） -->
		<select id="com_appUserEffective4S" parameterType="pd" resultMap="comDictResultMap">
			select au.appUserName as dictName, au.appUserId as dictValue
			from com_app_user_tree au, com_app_user_role_tree aur
			where au.effective = '01'
				and aur.effective = '01'
				and (au.roleId like CONCAT('%,',aur.appUserRoleId) 
					or au.roleId like CONCAT('%,',aur.appUserRoleId,",%") 
					or au.roleId like CONCAT(aur.appUserRoleId,",%") 
					or au.roleId = aur.appUserRoleId
					)
				and aur.appUserRoleType='03'
			<if test="value!=null and value!=''">
				and appUserId = #{value} 
			</if>
		</select>
		
		<!-- 生效零配件 -->
		<select id="com_sparepartEffective" parameterType="pd" resultMap="comDictResultMap">
			select sparepartName as dictName, sparepartId as dictValue
			from com_sparepart_info
			where effective = '01'
			<if test="value!=null and value!=''">
				and sparepartId = #{value} 
			</if>
		</select>
		
		<!-- 生效供应商 -->
		<select id="com_supplierEffective" parameterType="pd" resultMap="comDictResultMap">
			select supplierName as dictName, supplierId as dictValue
			from com_supplier_info
			where effective = '01'
			<if test="value!=null and value!=''">
				and supplierId = #{value} 
			</if>
		</select>
		
		<!-- 生效商品类别 -->
		<select id="com_productTypeEffective" parameterType="pd" resultMap="comDictResultMap">
			select productCategoryName as dictName, productCategoryId as dictValue
			from com_product_category_main
			where effective = '01'
			<if test="value!=null and value!=''">
				and productCategoryId = #{value} 
			</if>
				and productCategoryType = '01'
		</select>
		
		<!-- 生效商品模型 -->
		<select id="com_productModelEffective" parameterType="pd" resultMap="comDictResultMap">
			select productCategoryName as dictName, productCategoryId as dictValue
			from com_product_category_main
			where effective = '01'
			<if test="value!=null and value!=''">
				and productCategoryId = #{value} 
			</if>
				and productCategoryType = '02'
		</select>
		
		<!-- 生效商品自定义类型 -->
		<select id="com_productCustomTypeEffective" parameterType="pd" resultMap="comDictResultMap">
			select productCategoryName as dictName, productCategoryId as dictValue
			from com_product_category_main
			where effective = '01'
			<if test="value!=null and value!=''">
				and productCategoryId = #{value} 
			</if>
				and productCategoryType = '03'
		</select>
		
		<!-- 生效商品 -->
		<select id="com_productEffective" parameterType="pd" resultMap="comDictResultMap">
			select productName as dictName, productId as dictValue
			from com_product_info
			where effective = '01'
			<if test="value!=null and value!=''">
				and productId = #{value} 
			</if>
		</select>
		
		<!-- 生效商品规格分类 -->
		<select id="com_styleCategoryEffective" parameterType="pd" resultMap="comDictResultMap">
			select styleCategoryName as dictName, styleCategoryId as dictValue
			from com_style_category_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and styleCategoryId = #{value} 
			</if>
		</select>
		
		<!-- 生效商品规格明细分类 -->
		<select id="com_styleCategoryEffectiveP" parameterType="pd" resultMap="comDictResultMap">
			select styleCategoryName as dictName, styleCategoryId as dictValue
			from com_style_category_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and styleCategoryId = #{value} 
			</if>
			<if test="key0!=null">
				and parentId = #{key0} 
			</if>
				
		</select>
		
		<!-- 生效商品规格 -->
		<select id="com_productStyleEffective" parameterType="pd" resultMap="comDictResultMap">
			select productStyleName as dictName, productStyleId as dictValue
			from com_product_style_info
			where effective = '01'
			<if test="value!=null and value!=''">
				and productStyleId = #{value} 
			</if>
		</select>
		
		
		<!-- 生效平台用户角色 -->
		<select id="com_appUserRoleEffectiveP" parameterType="pd" resultMap="comDictResultMap">
			select appUserRoleName as dictName, appUserRoleId as dictValue
			from com_app_user_role_tree
			where effective = '01'
			<if test="value!=null and value!=''">
				and appUserRoleId = #{value} 
			</if>
			
			<if test="key1=='0'.toString()">
				and parentId = '0'
			</if>
			
			<if test="key1!=null and key1!='' and key1!='0'.toString()">
				<if test="key0!=null and key0!='' and key0!='0'.toString()">
				and parentId = #{key0} 
				</if>
				and (
					(select roleId from com_app_user_tree where effective = '01' and appUserId = #{key1}) like CONCAT('%,',parentId)
					 OR
					(select roleId from com_app_user_tree where effective = '01' and appUserId = #{key1}) like CONCAT(parentId,',%')
					 OR 
					(select roleId from com_app_user_tree where effective = '01' and appUserId = #{key1}) like CONCAT('%,',parentId,',%')
					 OR 
					(select roleId from com_app_user_tree where effective = '01' and appUserId = #{key1}) = parentId )
			</if>
			order by (orderNum+0) DESC
		</select>
		
		<!-- 生效商品规格 -->
		<select id="com_orderEffective" parameterType="pd" resultMap="comDictResultMap">
			select orderCode as dictName, orderId as dictValue
			from com_order_main
			where effective = '01'
			<if test="value!=null and value!=''">
				and orderId = #{value} 
			</if>
		</select>
	<!-- ****************************common * end  ********************************** -->
	
</mapper>