@charset "utf-8";
/* CSS Document */
/********中国建设银行积分商城首页及各大栏目页***********/

/********公用样式********/
.cl-red{color:#ff0000;}
.cl-or{color:#ffa53b;}
.cl-wh{color:#fff;}
.cl-blue{color:#1369c0;}
.cl-green{color:#63cd22;}
.cl-bla{color:#333;}
.cl-red2{color:#c00}
.font-size14{font-size:14px;}
.font-size16{font-size:16px;}
.font-song{font-family:"宋体";}
.font-yh{font-family:"微软雅黑",YaHei; color:#999;  }

/******首页*****/
.home_div1 li { float:left; margin-right:5px; }
.home_div1 li span {display:none;}
.home_div1 li a.home_bg01{ background:url(../img/exchangecenter/home/home_03.jpg) no-repeat; width:323px; height:418px; display:block;}
.home_div1 li a.home_bg02{ background:url(../img/exchangecenter/home/home_05.jpg) no-repeat; width:323px; height:418px; display:block;}
.home_div1 li a.home_bg03{ background:url(../img/exchangecenter/home/home_07.jpg) no-repeat; width:323px; height:418px; display:block;}
.home_div1 li:hover{cursor:pointer;}
.home_div1 li:hover span{cursor:pointer; position:absolute; display:block; color:#fff; margin:380px 0 0 160px; *+margin:380px 0 0 0;  width:150px; text-align:left;}
.home_div2 { padding:6px 0;display:inline-block;}
.home_div2 li { float:left; margin-right:6px; }
.home_div2 li span {display:none;}
.home_div2 li:hover{cursor:pointer;}
.home_div2 li:hover span{cursor:pointer; position:absolute; display:block; color:#fff; margin:380px 0 0 155px; *+margin:380px 0 0 35px; width:80px;  text-align:left;}
.home_div2 li a.home_bg04{ background:url(../img/exchangecenter/home/home_eCoupon.jpg) no-repeat; width:240px; height:418px; display:block;}
.home_div2 li a.home_bg05{ background:url(../img/exchangecenter/home/home_14.jpg) no-repeat; width:240px; height:418px; display:block;}
.home_div2 li a.home_bg06{ background:url(../img/exchangecenter/home/home_16.jpg) no-repeat; width:240px; height:418px; display:block;}
.home_div2 li a.home_bg07{ background:url(../img/exchangecenter/home/home_18.jpg) no-repeat; width:240px; height:418px; display:block; }
.home_tips { padding:10px 0 30px;text-align:left; }
.h_right { margin:0 0 0 1px!important;}

.pro1 { width:321px; margin:0 auto; }
.pro1 dl { text-align:center; margin-top:15px;}
.pro1 dl dt { color:#000; font-family:"微软雅黑"; font-weight:700; font-size:20px;}
.pro1 dl dt a{ color:#000;}
.pro1 dl dd { color:#666; font-family:"微软雅黑";font-size:14px; margin-top:15px;}
.pro1 dl dd a{ color:#666; }
.pro1 img { width:162px; height:162px; margin:0 auto; margin-top:20px;}
.pro1-se { width:160px; margin-top:20px; height:136px; border-top:1px solid #999; float:left;} 
.pro1-se dl { text-align:left; padding-left:10px; margin-top:10px;}
.pro1-se dt { color:#000; font-family:"微软雅黑";font-size:12px}
.pro1-se dt a{ color:#000; font-family:"微软雅黑";font-size:12px}
.pro1-se dd { color:#cc0000; font-family:"微软雅黑";font-size:12px}
.pro1-se img {width:88px; height:88px;  margin:5px 10px 5px 0; float:right;}
.pro-se-b { border-right:1px solid #999;}

.pro2 { width:238px; margin:0 auto; }
.pro2 dl { text-align:center; margin-top:15px;}
.pro2 dl dt { color:#000; font-family:"微软雅黑"; font-weight:700; font-size:20px;}
.pro2 dl dt a{ color:#000;}
.pro2 dl dd { color:#333; font-family:"微软雅黑";font-size:14px; margin-top:15px;}
.pro2 dl dd a{ color:#333; }
.pro2 img { width:162px; height:162px; margin:0 auto; margin-top:20px;}
.pro2-se { width:240px; margin-top:5px; border-top:1px solid #999; float:left; } 
.pro2-se dl { text-align:left; padding-left:10px; margin-top:10px;}
.pro2-se dt { color:#666; font-family:"微软雅黑";font-size:14px}
.pro2-se dd { color:#cc0000; font-family:"微软雅黑";font-size:14px; margin-top:5px;}
.pro2-se img {width:90px; height:90px;  margin:5px 20px 5px 0; float:right;}



/***********首页-常规礼品***********/
.page-top{width:980px;margin:0 auto;background:#fff;margin-top:-3px;font-family:"宋体";}
.page_bor{border:#e3e3e3 solid 1px;text-align:left; background:#fff;}
.page_bor2{border-bottom:0;}
.pgt_left{width:766px;border-right:#e3e3e3 solid 1px;float:left;display:inline;}
.pgt_wrap{height:366px;overflow:hidden;float:left; position:relative;}
.pro_ad01 {width:490px; height:320px; float:left; border-right:1px solid #ddd;border-bottom:1px solid #ddd; }
.pro_01 { width:239px; height:320px;border-bottom:1px solid #ddd;}
.pro_title { margin:10px; float:left;}
.pro_title dt { font-size:14px; font-family:"微软雅黑"; text-align:left; color:#333;}
.pro_title dd { font-size:20px;font-family:"微软雅黑"; color:#cc0000;margin-top:10px; text-align:left;}
.pro_title dd span { color:#999; }
.pro_01_img { width:219px; height:219px; margin:0 auto;}
.pro_logo  { width:247px; height:330px; }
.pro_logo { float:left; margin-left:10px;} 
.pro_logo li { float:left; margin:12px auto;}
.pmg_box2 { float:left; border-right:1px solid #ddd;}
.pmg_box3 { float:left; width:232px; border-right:1px solid #ddd; height:330px;}
.pmg_box4 { width:239px;}
.pro_02 {width:239px; height:168px; border-bottom:1px solid #ddd;}
.pro_02t{ float:left; width:120px;}
.pro_02_img { float:left; width:115px; height:115px; margin-top:20px;}
.pro_03 {width:239px; height:160px;}

/******图片轮换********/
#slider {float:left; position:relative; overflow:hidden; width:766px; height:366px;background:#fff}
#slider ul {position:absolute; list-style:none; top:0; left:0;}
#slider li {float:left;position:relative; width:766px; height:366px; padding-right:2px;}
#slider li img{width:766px;height:366px;}

.pagination {list-style:none; height:30px; position:absolute;bottom:10px;left:20px;}
.pagination li {float:left;color:#fff;width:20px;height:20px;line-height:20px;cursor:pointer;margin-right:5px;overflow:hidden;background:#bbb;border-radius:20px;text-align:center;}
.pagination li.hifcurrent{color:#fff;background:#ffa53b;}

/******图片轮换 end!********/

/*******缤纷活动717*********/
.pltopa{padding-bottom:40px;}
.pltopdiv01{padding-bottom:15px;}
.imgts0a{display:block;height:315px;}
.plmid{background:#9697f1;}
.plnav01{height:75px;background:url(../img/exchangecenter/bf/activity.jpg) 20px 20px no-repeat;padding-right:20px;}
.plnav01 span{display:block;color:#fff;float:right;margin-top:23px;margin-right:10px;}
.plnav01 .pltime{width:203px;height:60px;margin-top:0;margin-right:0;background:url(../img/exchangecenter/bf/bf_16.jpg) 0 12px no-repeat;}

.font-yh1{font-family:"微软雅黑",YaHei; color:#999;  }

/***********缤纷活动717end！**********/

.font-yh2{ padding-top:5px;}

.pgt_lb{height:130px; width:978px; border-left:1px #e3e3e3 solid; border-bottom:1px solid #e3e3e3; border-right:1px #e3e3e3 solid; float:left; margin:-10px 0 20px 0; }
.lb_list li{ float:left; float:left; height:130px; border-right:1px solid #eaeaea; }
.pgt_img{width:85px;height:85px;float:left;padding-top:28px;padding-left:4px;}
.pgt_div{width:86px;float:left; margin:30px 0 0 5px; padding-right:10px;}
.pgt_p01{ line-height:20px; padding-bottom:5px;padding-right:5px; text-align:left;}
.pgt_p02 { text-align:left; color:#444; padding-top:10px;}
.pgt_p02 span { color:#cc0000; font-size:14px; font-weight:bold;}
#pgt_li01 { border:none;}
.pgt_right{width:211px;float:right; background:#fff;}
.pgt_news{height:168px;padding:15px 10px 0 10px;}
.pgt_news h3{height:19px;line-height:19px;padding-left:20px;background:url(../img/exchangecenter/home/h-index_06.jpg) 0 0 no-repeat;padding-bottom:10px;color:#444;}
.pgt_ul01{padding-top:5px;}
.pgt_ul01 li{height:25px;line-height:25px;padding-left:10px;background:url(../img/exchangecenter/home/h-index_002.jpg) 2px 12px no-repeat; }
.pgt_ul01 li a{color:#444;}
.pgt_ul01 li a:hover{color:#FC5010}
.pgt_ul01_btn a {color:#444;}
.pgt_ul01_btn a:hover {color:#FC5010;}
.pgt_ul02 li{height:38px;line-height:38px;border-bottom:#e3e3e3 solid 1px;padding-left:60px;padding-right:14px;}
.pgt_ul02 li p{background:url(../img/exchangecenter/home/h-index_001.jpg) right 12px no-repeat;}
.pgt_ul02 li a{display:block;}
.pgt_ul02 .pgt_lia1{background:url(../img/exchangecenter/home/h-index_10.jpg) 20px 7px no-repeat;}
.pgt_ul02 .pgt_lia2{background:url(../img/exchangecenter/home/h-index_13.jpg) 20px 7px no-repeat;}
.pgt_ul02 .pgt_lia3{background:url(../img/exchangecenter/home/h-index_15.jpg) 20px 7px no-repeat;}
.pgt_ul02 .pgt_lia4{background:url(../img/exchangecenter/home/h-index_17.jpg) 20px 7px no-repeat;}
.pgt_imgbt img{display:block;}

.page-mid{width:980px;margin:0 auto;background:#fff;padding-top:8px;font-family:"宋体";}
.pgm_h301{height:45px;line-height:45px;padding-left:1px;font-size:16px; text-align:left;color:#444;}
.pgm_left{float:left;display:inline;width:199px;border-right:#e3e3e3 solid 1px;}
.pgm_mid{float:left;display:inline;width:730px; border:1px solid #ddd; height:652px;}
.pgml_top{display:block;height:386px;}
.pgml_bot{height:283px;}
.pgml_bot ul li{width:105px;height:45px;float:left;padding:5px 0;}
.pgml_bot ul .pgml_li{width:94px;}
.pgm_ul01{float:left;}
.pgm_ul01 li{width:266px;height:334px;float:left;border-right:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px;}
.pgm_ul01 .pgm_lits{border-bottom:none;}
.pgm_ul01 li a{display:block;width:266px;height:334px;}
.pgm_ul01 li a:hover{color:#e24d4f}
.pgm_ul01 li img{display:block;width:180px;height:180px;margin:0 auto;padding:8px 0;}
.pgm_ul01 li p{padding:8px 40px;line-height:180%;}
.pgm_ul01 li .pgm_p01{text-align:center;}
.pgm_right{float:left;width:245px; height:652px; border-right:1px solid #ddd;border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.pgm_right .rm-h3{float:none;height:19px;line-height:19px;padding-left:20px;padding-top:15px;padding-bottom:10px;color:#444; text-align:left;}

/*********热门兑换特效**********/
.rmmenu{width:224px;_width:244px;padding:0 10px;display:block;padding-top:10px;}
div.rmmenu div {line-height:50px;position:relative;width:100%;text-align:left;overflow:hidden;}
* html div.rmmenu div{ float:left;display:inline;}
div.rmmenu div.collapsed {height:50px; }
div.rmmenu div strong{font-weight:normal;}
div.rmmenu div span.ico1span{background-image:url(../img/exchangecenter/home/ico1.jpg); background-repeat:no-repeat;border-top:0;}
div.rmmenu div span.ico2span{background-image:url(../img/exchangecenter/home/ico2.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico3span{background-image:url(../img/exchangecenter/home/ico3.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico4span{background-image:url(../img/exchangecenter/home/ico4.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico5span{background-image:url(../img/exchangecenter/home/ico5.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico6span{background-image:url(../img/exchangecenter/home/ico6.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico7span{background-image:url(../img/exchangecenter/home/ico7.jpg); background-repeat:no-repeat;}
div.rmmenu div span.ico8span{background-image:url(../img/exchangecenter/home/ico8.jpg); background-repeat:no-repeat;}
div.rmmenu div span {display: block;padding-left:45px;border-top:#eee solid 1px;margin-bottom:10px;background-position:0 -38px ;}
div.rmmenu div span a{display:block;height:190px;width:224px;margin:0 auto;text-align:center;}
div.rmmenu div.collapsed span{background-position:0 8px ;}


div.rmmenu div a img{display:block;margin:0 auto; width:135px; height:135px;}
div.rmmenu div a {height:190px;diaplay:block;height:190px;width:224px;margin:0 auto;text-align:center;}
div.rmmenu div a:hover{color:#ff0000;}

.page-bot{width:980px;margin:0 auto;background:#fff;padding-top:8px;font-family:"宋体";margin-bottom:40px;}
.pgb_ul01{float:left; *+padding-bottom:5px;}
.pgb_ul01 li{width:243px;height:282px;border-right:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px;float:left;}
.pgb_ul01 .pgt_lits{border-right:0;width:246px;}
.pgb_ul01 li a:hover{color:#e24d4f}
.pgb_div01{height:82px;}
.pgb_div02{height:200px; height:200px;float:right;}
.pgb_div01 h3{font-size:16px;color:#333;font-family:"微软雅黑";padding:20px 0 5px 20px;}
.pgb_div01 p{padding-left:20px;}
.pgb_div02 img{float:right;width:200px;height:200px;border:none;}
.pgb_pts01 { float:left; margin:10px 0;}

.pgb_bf li{height:320px;}
.pgb_divts{height:auto;}
.pgb_divts p{padding-left:0;padding:5px 30px;line-height:180%;}
.div_content_center{text-align:center;}
.bfdiv01{padding:8px 0;width:180px;margin:0 auto;text-align:center;}
.bf_center{text-align:center;}

.pgb_val_ul01{float:left;}
.pgb_val_ul01 li{width:195px;height:250px;border-right:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px;float:left}
.pgb_val_ul01 .pgt_lits{border-right:0;width:194px;}
.pgb_val_ul01 li a{display:block;width:190px;height:250px;}
.pgb_val_ul01 li a:hover{color:#e24d4f}
.pgb_val_ul01 .bfdiv01{padding:10px 0;width:180px;margin:auto auto;text-align:center; }
.pgb_val_ul01 .bfdiv01{height:130px; }
.pgb_val_ul01 .bfdiv02{margin-top:15px;height:150px; }
.pgb_val_ul01 .pgb_div01{text-align: center;}

.pgb_bfa {padding-left:5px;}
.pgb_bfa li{height:360px;background:#fff;width:237px;margin-right:4px;border:none;margin-bottom:4px;}
.pgb_bfa .pgt_lits{margin-right:0;}
.pgb_divts0a .bfp01{text-align:left; font-family:"微软雅黑"; font-size:14px; color:#333;}
.bfp02{ padding:5px 30px; margin-top:5px;}
.pgb_divts0a .bfp01a a{display:block;width:100px;height:31px;line-height:31px;font-family:"微软雅黑";background:#ce3436;color:#fff;font-size:14px;margin:0 auto;margin-top:12px;}
.pgb_divts0a .bfp01a a:hover{color:#fff;}



/***********臻品生活**************/

.life-mid { width:980px;  margin:0 auto;*+margin:0 auto 30px auto;}
.lift-top { background:url(../img/exchangecenter/home/life_top.jpg) no-repeat; width:980px; height:70px; text-indent:-9999px; margin-top:30px;}
.life-pro { float:left; margin:3px -5px 8px 15px;}
.life-pro li{ width:228px; height:348px; background:#fff; border:1px solid rgb(204, 204, 204); float:left; margin:5px;}

.life-info { margin:15px; text-align:left; }
.life-info dt { font-family:"微软雅黑"; font-size:14px; color:#333; }
.life-info dd { font-family:"微软雅黑"; font-size:16px; color:#cc0000; margin-top:10px;}
.life-info dd span { color:#999; padding-left:5px;}
.life-pro-img { width:180px; height:180px;padding-left:25px; margin-top:64px;text-align:left;}

.card-left-ads{width: 250px;  height: 350px;  float: left;  margin: 8px 0px 15px 0px;}
.card-left-ads img{width:258px;height:350px;cursor:pointer;}

/***********臻品生活 end**************/

/******************特色专享******************/
.f-name { font-family:"微软雅黑"; font-size:14px; color:#333;} 
.f-price { font-size:16px; color:#cc0000;}
.f-price span { color:#999;}
.f-tip { color:#32abe2;}
.Integral { width:186px; height:76px; border:1px solid #ddd; margin:10px auto;}
.Integral span { width:92px; float:left; margin-top:10px;}
.Integral span p { width:50px; margin:0 auto;}
.rb { border-right:1px solid #ddd;}
.right_ad { width:188px; margin:0 auto;}

.f-box-s .f-name{padding-left:3px;}
.f-box-s .f-price{padding-left:3px; text-align:left;}

/******************特色专享 end******************/


/******************缤纷活动******************/
.hd-box { width:980px; margin:0 auto;}
.hd-t,.hd-m,.hd-b { float:left; width:980px;}
.hd-t,.hd-b { height:12px; }
.gt { background:url(../img/exchangecenter/home/activity/box_bg01.png) no-repeat; width:980px; height:12px;}
.gb { background:url(../img/exchangecenter/home/activity/box_bg02.png) no-repeat; width:980px; height:12px;}
.gm { background:#7f9ff0;}
.hd-t { background:#7f9ff0;}

/******************缤纷活动end******************/

/******************增值服务******************/
.vlaue-box { width:980px; }
.vlaue-box-t{width:980px; height:75px;}
.vlaue-box-m { width:970px; float:right;  *+padding-bottom:10px; }
.vlaue-box-mm{ background:#fff; margin:10px;float:left; width:950px;  *+padding-bottom:20px; }
.value_t1 {background:url(../img/exchangecenter/home/value-top_01.jpg) no-repeat; }
.value_t2 {background:url(../img/exchangecenter/home/value-top_02.jpg) no-repeat; }
.value_m1 { background:#9ec0ee;}
.value_m2 { background:#ffbf9f;}
.value-info { margin:15px; text-align:left; margin-top:10px;  *+padding-bottom:10px; }
.value-info dt { font-family:"微软雅黑"; font-size:14px; color:#333;text-align:center;}
.value-info dd { font-family:"微软雅黑"; font-size:16px; color:#cc0000; margin-top:10px; text-align:center;}
.value-info dd span { color:#999; padding-left:5px;}
.value-pro  { float:left; margin:30px 0 30px 13px;}
.value-pro li { width:175px; height:260px; border:1px solid #ddd; float:left; margin-right:10px;}
.value-pro-img { width:140px; height:140px; margin:20px auto;}
.value-ad p { float:left; margin:20px 0 20px 10px;}
.value-pro2 { float:left; margin:0 0 20px 10px;}
.value-pro2 li { margin-right:10px; width:302px; float:left;}
.value-pro2-img { width:150px; height:150px; float:left;}
.value-info2 { background:url(../img/exchangecenter/home/value-info-bg.jpg) no-repeat; width:152px; height:150px; float:left;}
.value-info2 dt { font-family:"微软雅黑"; font-size:14px; color:#333;text-align:left; margin:30px 10px 20px 10px;}
.value-info2 dd { font-family:"微软雅黑"; font-size:18px; color:#cc0000; margin-top:10px; text-align:left; margin-left:10px;}
.value-info2 dd span { color:#999;}
/******************增值服务 end******************/

/*修正safari浏览器的默认表单样式（手机/平板端）*/
input[type="submit"],input[type="reset"],input[type="button"]{
	-webkit-appearance: none;
}