
/* 中国格陌积分商城-积分搜索-tab切换 CSS Document*/

.sch_tabs .sch_tabsul{float:left;display:inline;}
.sch_tabs .sch_tabsul .sch_tabsli{float:left;display:inline;height:41px;line-height:41px;  }
.sch_tabs .tabsa{display:block;padding:0 20px 0 16px; zoom:1;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {font-weight: normal;color:#1369be;background:#fff;
border-right:#e3e3e3 solid 1px;border-left:#e3e3e3 solid 1px;} 
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {color:#1369be;text-decoration: none;background:#fff;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,
.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {font-weight: normal;color:#1369be;}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,
.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited {color:#1369be;text-decoration: none;}


#tabs li a:hover, #tabs .select a{ background-color:#f1f1f1; color: #FC5010; }
/*
#tabs .select .desc{ background: #f1f1f1 url(..img/search-ad-icon.png) no-repeat right bottom; }
#tabs .select .asc{ background: #f1f1f1 url(..img/search-ad-icon.png) no-repeat right top; }
*/
/*#tabs #shelfDate .desc, #tabs #shelfDate .asc{ background: #f1f1f1 url(..img/search-ad-icon.png) no-repeat right bottom; }*/
#tabs #shelfDate .desc{ background: url(..img/search-ad-icon.png) no-repeat right bottom; }
#tabs #shelfDate .asc{ background: url(..img/search-ad-icon.png) no-repeat right top; }
#tabs #saleCount .desc{ background: url(..img/search-ad-icon.png) no-repeat right bottom; }
#tabs #saleCount .asc{ background: url(..img/search-ad-icon.png) no-repeat right top; }
#tabs #salePrice .desc{ background: url(..img/search-ad-icon.png) no-repeat right bottom; }
#tabs #salePrice .asc{ background: url(..img/search-ad-icon.png) no-repeat right top; }
#tabs .select { background: #f1f1f1}


 


/***********积分范围/积分物品搜索**************/
.sch_jf_div01{width:980px;_width:980px;clear:both;height:41px;line-height:41px;background:#f7f7f7; font-family:"宋体";position:relative;display:inline-block;margin-top:10px; }
.sch_tabs{}
.sch_div_pro{ float:right; width:700px;}
.sch_input_fw{float:left;height:41px;line-height:41px; width:400px;}
.sch_input_fw span,.sch_input_fw input{float:left;margin-top:7px;}
.sch_input_fw span{margin-top:0px;margin-right:4px;}
.sch_input01{width:90px;padding-left:5px;height:25px;line-height:25px;border:#e3e3e3 solid 1px;margin-right:4px;}
.sch_input02{ width:60px; height:27px;line-height:27px;border:#d9d9d9 solid 1px;background:#f7f7f7;margin-left:2px;cursor:pointer;cursor:hand;color:#444;}
.sch_pages{float:right;height:41px;line-height:41px;width:180px;}
.sch_pages div,.sch_pages input{float:left;}
.sch_pages input{margin-top:7px;margin-left:6px;}
.sch_input03{color:#bbb;}
.sch_input04{color:#5e5e5e;}
.prolist
{ width:980px;padding:0px; margin:0px; }
.prolist ul
{ float:left; }
.prolist ul li
{float:left; width:236px;height:350px;margin:0 9px 9px 0;  border:#e3e3e3 solid 1px;background:#fff;}
.prolist ul li:hover{border:#FFA73D solid 1px;}
.jf_lb{margin:0 auto;padding:18px 10px 18px;}
.jf_color1{color:#b1b1b1;}
.jf_color2{font-size:14px;color:#C00;font-family:"微软雅黑"}
.jf_lb p{margin:0;padding:0;line-height:100%;color:#999; font-size:14px;font-family:"微软雅黑" }
.jf_lb .jf_ats{display:block;line-height:18px; color:#333;font-family:"宋体"; text-align:left; padding:10px; height:25px;overflow:hidden;margin-bottom:10px;}
.jf_ats:hover { color:#F90;}
.jf_ats span {color:#cc0000;} 
.font-yh { margin-top:10px;}
.font-yh p{ color:#999; font-size:14px;font-family:"微软雅黑"; padding:20px 0 14px;}
.sales { float:right; color:#999; font-size:12px; font-family:"宋体"; line-height:18px; margin-right:10px;}
.prolist-li {margin:0 0 12px 0!important;}
















