*{margin:0;padding:0;border:0;}
body{text-align:center;font-size:12px;color:#333;font-family: "微软雅黑"; }
.position .st1 a{font-size:12px;color:#666; font-family:"宋体"; padding:5px 0px;}
img{border:none;}
a{text-decoration:none;color:#333;}
a:hover{color:#FC5010;}
ul{list-style-type:none;}
input{outline:none;} 
.paddingset{padding:15px;}
.paddingtop{padding-top:10px;}
.floatleft{float:left;display:inline;}
.fr{display:inline;float:right;}
.clear{clear:both;}
.clearfix:after, .clearfix:before{ content: " "; display: table;}
.clearfix:after{ clear:both; }
.clearfix{*zoom:1;}
input::-ms-clear,::-ms-reveal{display:none;}
.talign{text-align:left;}
.page_container { width:960px; margin:0 auto;}
.fl { float:left;}
.fr { float:right;}
.tal{ text-align:left;}
.tar{ text-align:right;}
.mg-auto{ margin:0 auto;}
.mg10 { margin:10px;}
.mg20 { margin:20px;}
.mg30 { margin:30px;}
.mt10 { margin-top:10px;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px;}
.mt30 { margin-top:30px;}
.mt40 { margin-top:40px;}
.mt50 { margin-top:50px;}
.ml5  { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.mr10 { margin-right:10px;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px;}
.mb10 { margin-bottom:10px;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb40 { margin-bottom:40px;}
.mb50 { margin-bottom:50px;}
.mb60 { margin-bottom:60px;}
.ht250 { height:250px;}
.ht200 { height:200px;}
.pr1{ padding-right:1px;}
.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.position  { width:980px; height:20px; border-bottom:1px solid #c1c1c1; text-align:left; line-height:20px; padding-bottom:10px;}
.position span { color:#666; font-weight:normal; padding-right:10px;}
#li_bn { border:none;}



#winpop { width:200px; height:0px; position:absolute; right:0; bottom:0; border:1px solid #444; margin:0; padding:1px; overflow:hidden; display:none;}
#winpop .title { width:100%; height:22px; line-height:20px; background:#FFCC00; font-weight:bold; text-align:center; font-size:12px;}
#winpop .con { width:100%; height:90px; line-height:80px; font-weight:bold; font-size:12px; color:#FF0000; text-decoration:underline; text-align:center}
#silu { font-size:12px; color:#444; position:absolute; right:0; text-align:right; text-decoration:underline; line-height:22px;}

/*****header******/

.header { background:url(../img/header/top_bg.jpg) repeat-x; width:100%; height:140px;position:relative;z-index:299;}
.top1{width:100%;height:30px; background:#F5F5F5;}
.spanleft1,.spanright1{line-height:30px;}
.spanleft1 a,.spanright1 a{ line-height:12px;}
.top2{height:119px;}
.top2 h1 a{width:390px;height:47px;margin-top:35px;background:url(../img/header/logo.jpg) left top no-repeat; display:block;}
.top2 h2 a{width:470px;height:47px;margin-top:35px;background:url(../img/header/logo.jpg) left top no-repeat; display:block;}
.top2 h1 span{display:none;}
.top2 .search{width:390px;height:50px;margin-top:32px; background:url(../img/header/top_13.jpg) left top no-repeat;}
.searchinput{padding:3px;position:relative;}
.sr1_fw1{position:absolute;left:11px;top:37px;z-index:1000;padding:6px;border:#e3e3e3 solid 1px;border-top:0;background:#fff;}
.sr1_fw2{position:absolute;left:66px;top:37px;z-index:1000;padding:6px;border:#e3e3e3 solid 1px;border-top:0;background:#fff;}
.sr1_fw1 li,.sr1_fw2 li{width:36px;line-height:140%;}
.sr1,.sr2,.sr3{float:left;display:inline;}
.sr1{ position:relative;display:inline-block;}
.sr1 .sr1_a {margin:0;display:block;vertical-align: top; width:95px;height:44px;line-height:44px;border-right:#cdcdcd solid 1px;}
.sr1 .sr1_a:hover{color:#444;}
.sr1_a span {vertical-align: top;width:75px!important;display:inline-block;line-height:44px; text-align:center; font-family:"宋体";font-size:12px; overflow:hidden; height:44px;  word-break:break-all;}
.sr1_a img {margin-top:15px;width:14px;display:inline-block;}
.sr1_input01{width:35px;border:#e3e3e3 solid 1px;height:18px;line-height:18px;}
.sr1_input02{width:35px;border:#e3e3e3 solid 1px;height:18px;line-height:18px;}
.ico_sj { background:url(../img/header/top_14.jpg) center no-repeat; width:18px; height:11px; display:block; float:right; margin:-20px 10px 0 0;}
.sr1  .sr1_a:hover ul{display:block;}

.sr2 .searchtext{width:190px;height:44px;line-height:44px;vertical-align:middle;padding-left:8px;color:#aaa; background:none;border:0;}
/*mall_diff*/
.sp-input01{color:#aaa;}
.sr3 {float:right;}
.sr3 .searchbtn{width:73px;height:44px;line-height:44px;background:#ffa53c; font-size:14px;color:#fff;cursor:pointer;cursor:hand; }
.searchp{padding:5px 0;}
.searchp a{color:#bc0021;}
.progress { width:335px; height:63px; float:right; margin: 37px 50px 0 0;}
.lc1 { background:url(../img/header/progress_bg.jpg) no-repeat;}
.lc2 { background:url(../img/header/progress_bg.jpg) 0 -62px no-repeat;}
.lc3 { background:url(../img/header/progress_bg.jpg) 0 -124px no-repeat;}
.lc4 { background:url(../img/header/progress_bg.jpg) 0 -186px no-repeat;}

.sr1_ul{display:none; position:absolute;top:40px;left:-1px;z-index:1000;background:#fff;border:#ccc solid 1px; border-top:0;width:95px;padding-top:5px; overflow-x:hidden;}
.srl_ul_cate{}
.sr1_ul li{width:95px;text-align:center; padding:3px 0; display:block; }
.sr1_ul li input { width:34px;}
.sr1_ul2 li input { width:25px;}
/*****header end******/

/******nav********/
.main_nav { width:980px; background:#1369c0; height:38px; margin:0 auto;}
#nav { float:left;}
#nav li { float: left; width: 105px; line-height:38px; height:38px;}
#nav li a{ display: block; width: 120px; height:38px; text-align:center; font:700 14px/40px "microsoft yahei"; display: block; color:#fff; }
#nav li a:hover{ background:#185ba1;}
#nav li.first a{background:#185ba1;}
#content { clear: left;}
/******nav end********/


/**************bottom**************/
.footer { background-color:#efefef; width:100%; height:100px;}
.if_footer { width:980px; height:200px;}
.bot{width:100%;height:240px;background-color:#efefef;clear:both;}
.botclass{float:left;display:inline;width:150px;height:auto;margin-top:20px;margin-right:52px;}
.botclass_first{margin-right:15px;}
.botclass p{height:30px;line-height:30px;border-bottom:#ccc solid 1px;font-weight:bold;text-align:left;padding-left:40px;}
.botclass ul{padding:8px 0 0 22px;}
.botclass ul li{padding:4px 0 4px 18px; background:url(..img/footer/ht_07.jpg) left center no-repeat;text-align:left;}
.divbotleft{padding-top:30px;width:500px; text-align:left;}
.divbotright{padding-top:30px; text-align:left;}
.divbotleft img{float:left;}
.divbotleft p{line-height:20px;} 
.divbotright p{padding-top:13px;}

/**************bottom end**************/


	
/**************cart**************/	
.page-mid { width:980px; margin:0 auto;}		
.cart_box { width:978px;}	
.cart_title td { background:#f4f4f4; height:32px!important;  line-height:32px!important; text-align:center; color:#999;}
.cart_list { border:1px solid #dadada; font-family:"宋体";}
.cart_list td { height:100px;}
.cart_pro td { border-bottom:1px solid #dadada;}
.cart_pro_noBorder td { border-bottom:none!important;}
#cart_id {  float:left; margin-left:20px;color:#69F;}
#cart_id2 {  float:left; margin-left:20px;}
.pro_pic { width:80px; height:80px; float:left;}
.pro_name { float:left; width:270px;word-wrap:break-word; text-align:left; margin:20px 0 0 10px; color:#757575; height:75px; line-height:24px;}
.card_type { float:left; margin:10px 0 0 10px ; width:250px; text-align:left; color:#69F;}
.pro_pic { float:left; margin:10px 0 0 5px;}
.cart_price { font-size:12px; font-weight:bold; color:#f12a41; font-family:"微软雅黑";}
.cash_type { color:#999;}
.operation a { color:#367dd7;}
.operation a:hover { color:#F60;}
.operation p { line-height:20px;}
.sub_on a { background:url(..img/page_ico.png) -6px -12px no-repeat; width:21px; height:21px; display:block;} 
.sub_off a{ background:url(..img/page_ico.png) -6px -39px no-repeat; width:21px; height:21px; display:block;} 
.add_on a{ background:url(..img/page_ico.png)  -33px -12px no-repeat; width:21px; height:21px; display:block;} 
.add_on a:hover{ background:url(..img/page_ico.png) -60px -12px no-repeat; width:21px; height:21px; display:block;} 
.num_input { width:30px;}
.num_input input { width:30px; height:19px; border:1px solid #c7c7c7; text-align:center; color:#999;}
.cart_num li { float:left; margin:0 3px; border:1px solid #fff;}
.cart_num { float:left; margin-left:30px;}
.cart_number {float:left; margin:30px 0 0 30px; }
.cart_number dd{ float:left; margin:0 3px;}
.settlement { width:980px; height:45px; background:#f4f5f7;}
.settlement_left{  float:left; line-height:45px; padding-left:16px;}
.settlement p { float:right;}
.pay-info { font-size:12px; color:#444; font-weight:normal; font-family:"微软雅黑"; line-height:45px;}
.pay-c1 { color:#f12a41; padding:0 5px; font-size:16px; font-weight:bold;}
.pay-c2{ font-size:12px; font-weight:normal;}
.pay-btn { margin:5px;}
.pay-btn a { width:100px; height:35px; background:#e43436;font-size:14px; color:#fff; font-weight:bold; font-family:"微软雅黑"; line-height:35px; display:block; }
.pay-btn a:hover { background:#c62828;}
.address_box { width:978px;  border:1px solid #dadada; margin-bottom:10px; height:auto; float:left; *+padding-bottom:20px;}  
.address_top  { width:968px; height:32px; background:#f3f3f3; text-align:left; font-size:14px; font-weight:bold; line-height:32px; color:#757575; padding-left:10px;}

.address_list li {width:295px; height:130px;border:2px solid #dadada; margin:5px 10px;float:left;}
.address_list li p  { font-size:12px; color:#444; text-align:left; line-height:28px;}
.address_list h4 { text-align:left; border-bottom:2px solid #CCC; padding:10px 0 10px 0; font-weight:normal;}
.address_list h4 { font-size:14px; color:#666;}
.address_list h4 span { padding:0 10px; dispaly:inline-block;}
.address_list li:hover { border:2px solid #73b9ff;}
.address_on { background:#f2f2f8; border:2px solid #73b9ff !important;}
.add_info { float:left; margin:10px 0 0 10px; } 
.add_btn p a { color:#b0ada8;}
.add_btn p a:hover { color:#F60;cursor:pointer;cursor:hand;}
.add_btn p span { padding:0 5px; color:#b0ada8;}
.add_btn { position:absolute; margin:60px 0 0 220px; *+margin:60px 0 0 0; }
.address_list li .add_edit_btn{text-align:right;padding-right:10px;}
.add_edit_btn a{ cursor: pointer;}
.ico_new {  background:url(..img/page_ico.png)  -103px -14px no-repeat; width:15px; height:15px; display:block; float:left; margin:8px 5px 0 0; }
.ico_add {  background:url(..img/page_ico.png)  -86px -14px no-repeat; width:15px; height:15px; display:block; float:left; margin:8px 5px 0 0; }
.add_gl { float:right; width:80px;}
.add_gl a{ float:left; margin-right:10px; color:#b7b7b7; font-family:"宋体"; font-size:12px; font-weight:normal;}
.add_gl a:hover { color:#F90;}
.address_top h4 { float:left; font-size:14px;}
.receive_info p { text-align:left; line-height:60px;}
.receive_info p input { width:130px; height:28px; border:1px solid #c7c7c7; text-align:left; color:#999; padding:0 10px 0 5px;}
.prompt { color:#a2a2a2; font-size:12px;}
.prompt span { color:#d70000; padding:0 5px;}
.receive_info p label { text-align:right; width:110px; display:inline-block; padding-right:10px;}
.donate_info p { line-height:40px!important; border-bottom:1px dashed #ddd; width:950px;}
.donate_info p  label { font-weight:700; color:#666;}
.cart_lc { background:url(..img/exchangecenter/cart/car_lc.png) no-repeat; width:690px; height:32px; margin:20px auto;}
.cart_lc_s1 { background-position:0 -4px;}
.cart_lc_s2 { background-position:0 -54px;}
.cart_lc_s3 { background-position:0 -104px;}
.cart_lc_s4 { background-position:0 -154px;}
.cart_lc_s5 { background-position:0 -204px;}
.cart_tips { width:980px; background:#f3f3f3; height:100px; border:1px solid #ddd; margin:50px 0; }
.cart_tips_ico { background:url(..img/exchangecenter/cart/cart_empty.png) no-repeat; width:72px; height:51px; display:block; float:left;}
.cart_tips p { color:#666; font-family:"宋体"; text-align:left; line-height:24px; float:left; margin:2px 0 0 15px;}
.cart_tips p a { color:#00F;}
.cart_tips p a:hover { color:#F90;}
.cart_tips_info { width:370px; margin:0 auto; margin-top:25px;}
/**************cart end**************/


/*************deal_mall***************/
.deal_box { width:980px; margin-top:20px;}
.deal_box h3 { text-align:left; padding-left:10px; font-size:14px; color:#666;}
.deal_t p { float:left;}
.deal_id { width:250px; text-align:left; margin-left:10px;}
.deal_num { width:310px; color:#a2a2a2;}
.deal_dh_price {width:100px; text-align:right; color:#a2a2a2; }
.deal_price {width:235px; text-align:right; color:#a2a2a2; }
.deal_t { border-bottom:2px solid #b2d1ff; height:30px; line-height:30px; float:left; width:980px; margin-top:20px;}
.deal_list { float:left; width:980px;}
.deal_list li {  border-bottom:1px dashed #ddd; margin:5px 0; width:980px; float:left;}
.deal_photo { width:80px; height:80px; float:left; margin:5px 10px 0 10px;}
.deal_content { float:left; width:220px; text-align:left; line-height:24px; margin:18px 0 0 20px;}
.deal_number { float:left; margin:30px 0 0 108px; width:120px;}
.deal_u_price { float:left; line-height:90px; width:100px; margin-left:135px; font-size:12px; font-weight:bold; color:#cc0000;}
.order_info { width:980px; float:left; background:#e0ebfb; border-top:1px solid #b2d1ff; height:32px;}
.order_info p { line-height:32px; text-align:right; padding-right:46px;color:#a2a2a2;}
.pay_now { height:100px; border-bottom:1px dotted #444; }
.pay_now p{  float:right; margin-top:36px; margin-right:10px;}
.pay_now p span input { background:none; height:32px; line-height:32px; font-size:20px; font-weight:bold; color:#cc0000; width:100px;}
.pay_btn input{ width:180px; height:38px; line-height:38px; background:#e43436; font-family:"微软雅黑"; color:#fff; cursor:hand; cursor:pointer; font-size:14px; font-weight:bold;}
.pay_btn input:hover {background:#cc0101;}
.card {  float:left; margin-left:10px;color:#69F; line-height:32px;}
.note { float:left; margin:3px 0 0 10px;}
.note input { border:1px solid #b2d1ff; width:400px; height:24px; float:left;}
.note span { float:left; color:#444; margin-top:5px;}
.order_info2 p { color:#666}
.movie_address { position: absolute; color:#a2a2a2; margin-top:0px; *+margin:28px 0 0 -90px; }
/*************deal end***************/


/****************公益***************/
.page-mid-gongyi{padding:10px 0 40px;}
.page-mid-gongyi img{display:block;}
.position_gy01,.position_gy02,.position_gy001{position:relative;}
.fy_01a,.fy_02a,.fy_03a{display:block;position:absolute;top:0;width:135px;height:32px; background:url(..img/exchangecenter/donate/gyi2_03.jpg) no-repeat;}
.fy_01a{left:72px;}
.fy_02a{left:322px;}
.fy_03a{left:564px;}
.fy_04a{display:block;position:absolute;top:534px;left:506px;width:152px;height:36px;background:url(..img/exchangecenter/donate/gyi2_14.jpg) no-repeat;}
.fy_05a{display:block;position:absolute;top:234px;left:508px;width:119px;height:102px;}
.fy_06a{display:block;position:absolute;top:264px;left:673px;width:102px;height:88px;}
.position_gy05{position:relative;}
.gy_08a,.gy_09a,.gy_10a{display:block;position:absolute;top:0px;width:99px;height:47px;}
.gy_08a{left:357px;}
.gy_09a{left:503px;}
.gy_10a{left:527px;width:134px;height:50px;}
.ks_01{margin:40px auto;padding-top:109px;width:529px;height:529px;background:url(..img/exchangecenter/donate/gy02_1.jpg) no-repeat;}
.hy_01{background:url(..img/exchangecenter/donate/gy02_2.jpg) no-repeat;}
.ks_100{background:url(..img/exchangecenter/donate/gy2_1.jpg) no-repeat;}
.ks_02{background:url(..img/exchangecenter/donate/gy2_2.jpg) no-repeat;}
.ks_01 ul{text-align:left;height:182px}
.ks_01 ul li{padding-left:163px;padding-bottom:13px}
.ks_01 ul li input{width:126px;height:20px;line-height:20px;}
.ks_01 ul .ks_lifir{padding-bottom:24px;}
.ks_01 p{padding-left:198px;}
.ks_01 .ks_a{width:87px;height:47px;display:block;}
.ks_03{position:relative;margin:0 auto;width:903px;height:474px; background:url(..img/exchangecenter/donate/gy4_1%20.jpg) no-repeat;}
.ks_03a{position:absolute;top:334px;left:442px;display:block;width:94px;height:30px;}
.ks_04a{position:absolute;top:426px;left:333px;display:block;width:105px;height:32px;}

/******************积分商户****************/
.page-mid-jf{padding:0 0 40px;}
.position_jf01{position:relative;}
.jf_kk1{position:absolute;top:15px;left:372px;width:606px;height:30px;}
.jf_01select,.jf_02select,.js_input01,.js_input02{display:block;float:left;display:inline;height:30px;margin-left:10px;}
.jf_01select{width:148px;border:#ccc solid 1px;}
.jf_02select{width:198px;border:#ccc solid 1px;}
.js_input01{width:138px;border:#ccc solid 1px;height:28px;}
.js_input02{width:65px;background-color:#1369c0;color:#fff;cursor:pointer;cursor:hand;}

.jf_kk2{position:absolute;top:74px;left:231px;width:738px;height:380px;}
.jf_div01{position:absolute;top:0;left:0;width:738px;height:380px;}
.jf_a01,.jf_a02,.jf_a03{position:absolute;top:0;display:block;width:240px;height:380px;}
.jf_a02{left:249px;}
.jf_a03{left:498px;}
.jf_a01:hover{background:url(../images3/jf2_03.jpg) no-repeat;}
.jf_a02:hover{background:url(../images3/jf2_05.jpg) no-repeat;}
.jf_a03:hover{background:url(../images3/jf2_07.jpg) no-repeat;}



/*************************home,index****************************/
.index_con{width:980px;height:511px;position:relative;}
.index_tleft{width:207px;height:510px;position:absolute;left:0px;top:0px;}
.index_tleft a{display:block;width:205px;height:46px;margin-bottom:0px;}
.index_tleft a:hover{border:#ff0000 solid 2px;}

.index_tright{width:772px;height:142px;position:absolute;left:209px;bottom:2px;}
.index_tra1 a,.index_tra2 a,.index_tra3 a,.index_tra4 a{display:block;width:174px;height:140px;float:left;}
.index_tra2 a{width:194px;}
.index_tra3 a{width:188px;}
.index_tra4 a{width:211px;height:165px;margin-top:-25px;}
.index_tra1 a:hover,.index_tra2 a:hover{border:#ff0000 solid 2px;}
.index_tra3 a:hover{border:#ff0000 solid 2px;}
.index_tra4 a:hover{border:#ff0000 solid 2px;}

/*********************channel****************************************/
.content
{ width:980px; margin:auto;}


/*********************car_center********************************/
.card_conment{ margin:10px 0 20px 0px; width:980px; float:left;}
.card_center_right
{ width:590px; float:left; margin:10px 0 0 10px;}
.card_center_right1{ height:450px; }
.log-tips-div ul{ float:left;} 
.log-ul01{padding:30px 30px 50px;float:left;display:inline; }
.log-color-red01{color:#ff0000;font-size:12px;}
.log-li01{float:left;width:84px;height:60px;line-height:50px; vertical-align:middle;text-align:left;padding-right:24px;}
.log-li02{float:left;width:500px;*+width:400px;height:60px;line-height:50px; vertical-align:middle; text-align:left;}
.log_input01{float:left;width:212px;height:30px;line-height:30px;border:#e0e0e0 solid 1px;margin-top:12px;padding-left:6px;margin-right:20px;color:#444;font-size:12px;}
.log-li03
{ float:left; width:500px; padding-top:20px;text-align:left;  padding-left:110px; }
.log-input-yzm{width:80px;}
.log-yzm,.log-getnum{float:left;width:70px;height:30px;margin-top:12px; *+margin-top:3px;}
.log-input-getnum{width:70px;height:30px;line-height:30px;color:#fff;background:#b7b7b7;text-align:center; cursor:pointer;cursor:hand;}
.phont_text{ width:290px; *+width:200px;height:50px; text-align:left; line-height:22px; font-size:12px; float:left; padding-left:20px; margin-top:5px; }
.right_tit{height:50px; width:685px;color:#444; font-family:"微软雅黑"; 
font-size:18px;  border-bottom:#eaeaea 1px solid; padding-top:30px; text-indent:22px; text-align:left}
.phone_red{ color:#FF0000;}
.log_btn01{background:#3079ec;height:30px; width:95px; line-height:30px;color:#fff; cursor:pointer;cursor:hand; text-align:center;}
.log_btn02{background:#e43436; height:30px; width:95px;}
.card_tips{ width:554px; height:97px; background:url(..img/app/card_tips.jpg) no-repeat;text-align:left;padding-left:100px; margin-left:16px;margin-top:20px; margin-bottom:20px;}
.card_tips p{padding-bottom:10px;margin:0;}
.card_tips0a{ width:700px; height:120px; background:url(..img/exchangecenter/app/card_tips.jpg) no-repeat;text-align:left;margin:0 auto; margin-top:20px; margin-bottom:20px;}
.card_tips0a p{padding-bottom:10px;margin:0;}
.card_padding0a{padding:10px 0 60px;}
.card_button0a{padding:25px 0;}
.tip_box{ padding-top:35px; padding-left:150px;  font-size:14px;}
.tip_text a { color:#00F;}
.tip_text strong { font-size:15px;}
.tip_text a:hover { color:#F60;}
.card_text2{ width:210px; text-align:left; line-height:38px; padding-left:96px;}
.btn_red { background:#e43436;}
.btn_red:hover {background:#c62828}
/*积分查询卡列/
.card-list { width:648px; margin:0 auto;}
.card-list dt { height:32px; line-height:32px; background:#a9b5c5; font-weight:700; color:#fff;}
.card-b0 { width:50px; height:32px; display:block; float:left;}
.card-b1 { width:150px; height:32px; display:block; float:left;}
.card-b2 { width:200px; height:32px; display:block;float:left; margin-left:50px;}
.card-b3 { width:100px;height:32px; display:block;float:right;}
.card-b0 input { margin-top:8px;}
.card-list dd { line-height:32px; width:648px; float:left; margin:2px 0;}
.card-list dd:hover { background:#ffecd9; }
.c-c1 { background:#f0f0f0;}
.card-list dd .card-b3 { color:#cc0000;}
.card-box { width:648px; margin:0 auto; margin-top:20px; height:250px;}
.card-point { float:left; width:638px;  color:#999; text-align:right;  margin-top:15px; border-top:1px #eaeaea solid; padding:10px 10px 0 0;}
.card-point2 { float:right;  color:#999; text-align:right;  margin-right:25px;  }


/*卡中心支付*/
.pay_center { width:978px; height:92px; border:1px solid #b2d1ff;}
.pay_center_t { background:#e0ebfb;height:34px; border-bottom:1px solid  #b2d1ff; line-height:34px;}
.pay_center_t h4 { float:left; color:#666; padding-left:10px;}
.pay_center_t p { text-align:right; color:#999; padding-right:10px;}
.pay_center_b { line-height:58px;}
.pay_price { color:#999;}
.pay_price span { color:#ff0000; font: 20px bold; font-family:"微软雅黑";}
.pay_box{ width:976px; border:2px solid #d4d4d4; height:450px; margin-top:20px;}
.ccb_card{ background:url(..img/ccb_card.jpg) no-repeat; width:262px; height:209px; float:left; margin:30px 0 0 40px;}
.pay_tips { width:960px; margin:0 auto; border-top:1px dashed #cccccc; text-align:left;}
.pay_tips h3 { text-align:left; color:#39F; padding:20px 10px 10px 10px;}
/*卡中心支付end*/
.pay_tips p{ line-height:32px; color:#666; font-family:"宋体"; padding-left:10px;}
.pay_tips p a { color:#36F;}
.pay_tips p a:hover { color:#F90;}
.jw { color:#F00;}
/***************************search**********************************/
{ height:100px; margin-top:22px; width:980px; }
.searclass
{width:980px;height:50px; border:1px solid #eaeaea; margin-top:10px; line-height:50px; }
.seat1{ font:"宋体"; font-size:12px; color:#333333; line-height:25px;}
.seatext1
{ color:#363636; font:"宋体"; font-size:12px;}
.seatext2
{ color:#e53c3f;}
.sx3{ padding-left:20px;}
.seatext_08{ color:#868686}
.seatext_09
{ color:#cc0000; font-family:"微软雅黑"; font-size:14px; }
.searclass_first3
{ width:600px; font-family:"宋体"; font-size:12px; height:25px; line-height:25px; }
<!--.searclass_first
{ width:958px; height:60px; line-height:60px;padding:10px; border:#ccc 1px solid;margin-bottom:10px; margin-top:10px; }-->
.sea_sx{  font-size:14px; color:#1368c3; height:40px;  width:100px;}
.sea_sx a{ color:#1368c3; display:block; width:100px; height:50px;}
.sea_sx a:hover{ background:#f5f5f5; display:block;}
.sea_sx img{ text-align:center; vertical-align:middle;}
.sx2 p
{  width:700px; font-family:"宋体"; font-size:12px; color:#666;}
.searchtop p
{ height:25px; text-align:left; }


.seadiv{ width:980px;display:inline-block;border:#eaeaea 1px solid; margin-top:0px; border-top:none; float:left;}
.sealeft{ float:left;  width:100px; margin:15px 20px 0 0; font-family:"微软雅黑"; font-size:14px; color:#333; font-weight:bold; }
.sealeft2{font-family:"微软雅黑"; font-size:15px; color:#1368c3;}
.searight{ float:left; width:850px;}
.searight ul{ margin:0px; padding:0px; margin-top:3px;}
.searight ul li{ float:left;text-align:left; height:25px; line-height:25px; padding:10px; list-style:none;font-family:"宋体"; font-size:12px; color:#5e5e5e; }
.searight ul li a.current{color:#FC5010;}
.searight ul li {color:#999;}
.searight ul li span{color:red;}
.seadiv2{ float:right; padding-right:20px; vertical-align:top; padding-top:20px; }

.searclass_first2
{ background-color:#f7f7f7; height:63px; width:964px; border:#ccc 1px solid; margin-top:10px; padding-top:20px; padding-left:16px;}
.searchleft1 img
{ text-align:left; vertical-align:middle; width:83px; height:41px;}

.searchleft p
{ height:25px; text-align:left; }

.searchclass3 img
{line-height:83px; float:left; }
.searchclass4 p
{ float:left; padding-left:41px;}
.searchclass5
{ vertical-align:middle; text-align:center; padding-left:250px;}





/*********新页码！***********/
.pagets{height:40px;padding-top:15px;padding-bottom:50px;padding-right:21px;float:right;}
.pagets2{height:40px;padding-top:15px;padding-bottom:50px;float:right;}
.pagets p{float:left;height:20px;margin-left:8px;line-height:100%}
.pagets p a{display:block;background:#fff;color:#444;padding:6px 9px;border:#d5d5d5 solid 1px;}
#pg_on a{background:#1369C0;color:#fff;cursor:text;}
.pagets p a:hover{background:#1369C0;color:#fff;}

/*************公告************/
.newp01{height:50px;font-size:18px;font-weight:bold;line-height:50px;border-bottom:#ccc solid 1px;}
.newp02{height:20px;padding-top:10px;padding-bottom:20px;}
.nwdiva{font-family:"宋体";padding-bottom:50px;}
.nwdiva img{display:block;margin:0 auto;margin-bottom:20px;}
.nwdiva p{line-height:250%;text-indent:24px;text-align:left;}
.news-cont p{height:20px;padding:10px 100px;background:#f7f7f7;text-align:left;font-size:14px;font-family:"宋体"}
.news-cont p span{float:right;}
.newsula{clear:both;padding-top:10px; font-family:"宋体";text-align:left;}
.newsula li{padding:12px 75px 12px 24px;border-bottom:#ddd solid 1px;}
.newsula li a{color:#1369c0;font-size:14px;display:block;}
.newsula li a span{float:right;color:#666}
.newsula li a:hover{color:#ffa53c}
.newsula li a:hover span{color:#ffa53c}
.news-cont{padding-bottom:30px;}
.newsp01ts{height:20px;padding:0 0 8px;border-bottom:#1369c0 solid 1px;margin-bottom:20px; text-align:left;}


/*************确认收货************/
.cursor_hand
{cursor:pointer;}


/*************页码************/
.page li { float:left; margin:0 5px;}
.page li a { border:1px solid #dadada; padding:5px; display:block; text-decoration:none;}
.page li a:hover {background:#1369c0; color:#FFF; }
#page_on a {background:#1369c0; color:#FFF;}
.page2 #input{ width:25px;}
.page_tip{ height:30px; line-height:30px;}
.page_tip2{ width:30px; height:28px;}
.page_tip2 input {text-align:center;width:25px; margin-left:-10px; background:none;height:26px; border:1px solid #dadada; line-height:28px; color:#666;}
#page_go a{ background:#eee; color:#999;}
#page_go a:hover { background:#F90; color:#fff;}


input{outline:none;}

/*************deal_mechant***************/
.deal_box2{width:828px;margin:0 auto;}
.deal_end{padding:50px 0 80px;}
.deal_box2 ul{width:828px;border:#dadada solid 1px;height:168px;}
.deal_box2 ul li{width:246px;padding-left:30px;padding-top:30px;padding-bottom:0px;float:left;display:block;text-align:left;font-family:"宋体"}
.deal_box2 ul li a{color:#fda937;}
.deal_box2 ul li span{color:#ff0000;}
.deal_box2 ul .deal_li{padding:0;width:820px;padding-left:8px;height:35px;line-height:35px;font-size:16px;font-weight:bold;background:#f3f3f3;border-bottom:#eaeaea solid 1px;}
.deal_box2 ul .deal_li{}
.deal_btn{clear:both;text-align:center;padding:50px 0 90px;width:828px;}
.deal_btn a{display:block;width:125px;height:45px;line-height:45px;color:#fff;font-weight:bold;font-size:14px;background:#d22c2c;margin:0 auto; }

.deal_box1{width:980px;text-align:left;}
.dbox1_left{width:212px;height:332px;}
.dbox1_left ul{	width:210px;height:330px;border:#dadada solid 1px;}
.dbox1_ltit{height:30px;line-height:30px;padding-left:10px;background:#f3f3f3;font-size:14px;border-bottom:#dadada solid 1px;}
.dbox1_limg{text-align:center;padding:28px 0 18px;}
.dbox1_limg img{border:#ddd solid 1px;padding:3px;}
.dbox1_linfo{padding-left:15px;}
.dbox1_linfo p{padding-bottom:8px;}
.dbox1_linfo p span{font-weight:bold;color:#ff0000;}
.dbox1_right{width:756px;}
.dbox1_rtit{width:756px;height:32px;line-height:32px;border-bottom:#dadada solid 1px;font-size:14px;}
.dbox1_rinfo{padding-left:250px;padding-top:20px;height:145px}
.dbox1_rinfo p{padding-top:20px;}
.dbox1_rinfo p span{color:#ff0000;font-weight:bold;}
.dbox1_tips{width:754px;height:132px;border:#ffcba3 solid 1px;background:#fceade;}
.dbox1_tips_diva p{padding:15px 0 15px 115px;}
.dbox1_tips_divb{background:url(..img/qrzf_03.jpg) 40px 5px no-repeat;}
.dbox1_tips_divb p{padding-top:0;padding-bottom:6px;}
.dbox1_rcheck{width:756px; margin:0 auto;padding:50px 0 90px ;}
.dbox1_rcheck a{display:block; text-align:center;width:125px;height:45px;line-height:45px;color:#fff;font-weight:bold;font-size:14px;background:#d22c2c;margin:0 auto;}
/*************deal end***************/

.top_center {height:190px;width:980px;margin:0 auto;}
.bot_center {width: 980px;height: 100px;margin:0 auto;}



/**  error page   */
.error_box {width:680px; margin:0 auto;}
.card_tipsb{ width:680px; height:120px; background:#f5f5f5;no-repeat;text-align:left;margin:0 auto; margin-top:20px; margin-bottom:20px; border:1px #ddd solid; padding-left:30px;}
.adrd1{ height:32px; line-height:32px; float:left;padding-top:25px; margin-right:10px;}
.tip_boxb{ font-size:14px;height:32px; line-height:30px; padding-top:25px; }
.error_bottom{ height:100px;  width:680px; margin-top:10px; padding-bottom:20px; }
.error_bottom td{ height:35px; line-height:35px; color:#757575; border-bottom:1px #eaeaea solid; }
.error_bottom1{  font-weight:bold; border-bottom:none; padding-left:45px;}
.ftblue{ color:#3079ec}
.ftred{color:#FF0000; font-size:14px}
.error-bg{ background: url(..img/error_bg.jpg) no-repeat bottom center; padding: 40px 0 220px;}
.error-img{ padding: 0 0 0 60px;}
.error-text{ text-align: left; margin: 0 40px 0 215px; padding-top: 36px; }
.error-text h2{ font-size: 22px; color: #555; margin-bottom: 8px; font-weight: normal;}
.error-con{ line-height: 1.6; color: #666; font-size: 16px; }
.error-con p a{ color: #1369c0; margin: 0 4px; }
.error-link{ text-align: left; padding: 10px 0;}
.error-link a{ display: inline-block; padding: 4px 12px; border: 1px solid #1369c0; border-radius:4px; color: #1369c0; margin-left: 12px;}
.error-img img{-webkit-animation: error-ani 4s infinite ease-out; animation: error-ani 4s infinite ease-in; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0)}

.to-top{ position: fixed; bottom: 90px; left: 50%; margin-left: 510px; width: 40px; height: 40px; background: url(..img/toTop.png) no-repeat center top; display: none; }
a.to-top:hover{ background-position: center bottom;}

@-webkit-keyframes error-ani{
	0%{
	    -webkit-transform: translate(0);
	}
	20%{
	    -webkit-transform: translate(-1px,-6px);
	}
	50%{
        -webkit-transform: translate(0,3px);
    }
    80%{
        -webkit-transform: translate(2px,-6px);
    }
    100%{
        -webkit-transform: translate(0);
    }
}
@keyframes error-ani{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(-2px,-6px);
    }
    50%{
        transform: translate(0,2px);
    }
    80%{
        transform: translate(2px,-6px);
    }
    100%{
        transform: translate(0);
    }
}

/*修正safari浏览器的默认表单样式（手机/平板端）*/
input[type="submit"],input[type="reset"],input[type="button"]{
	-webkit-appearance: none;
}
