@charset "utf-8";
/* 中国格陌积分商城-个人中心 CSS Document */

.page-mid-account{ width:100%; margin:0 auto;background:#f5f5f5;margin-top:-3px;}	
.acc_main{height:auto;padding-bottom:30px;}

.acc_p1{padding:12px 0 8px;height:30px;}
.acc_span1{font-size:18px;color:#333; font-family:"微软雅黑";}
.acc_span2{margin-top:5px;} 
/***********个人中心首页左侧导航*********/
.acc_main_left{float:left;width:200px;border:#e3e3e3 solid 1px;border-bottom:0;font-family:"宋体"}
#sitemap ul{display:block;}
#sitemap li{line-height:46px;clear:both;background:#fff;position:relative;width:100%;text-align:left;}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #sitemap li{float:left;display:inline;}
#sitemap li a{padding-left:30px;border-bottom:#e3e3e3 solid 1px;display:block;}
#sitemap li a:hover{color:#666;}
#sitemap li span{float:left;position:absolute;top:17px;left:9px;width:13px;height:13px;cursor:pointer;cursor:pointer;cursor:hand;font-size:0;}
#sitemap li span, #sitemap li span.collapsed{ background:url(../..img/customercenter/collapsed.jpg) no-repeat;}
#sitemap li span.expanded{background:url(../..img/customercenter/expanded.jpg) no-repeat;}
#sitemap li ul{padding:10px 0 14px;border-bottom:#e3e3e3 solid 1px;}
#sitemap li li{background:#fff;line-height:38px;}
#sitemap li li a{display:block;border:0;}
#sitemap li li a:hover{}
#sitemap li li span{left:28px;}
#sitemap li li li a{padding-left:84px;}
#sitemap li li li span{left:56px;}
.sitemap_afir{cursor:text;color:#333}
.sitemap_afir:hover{color:#333;}
#sitemap li .acurrent{background:#FFA53C;color:#fff;}
#sitemap li .acurrent:hover{color:#fff;}

/***********个人中心首页中部*********/
.acc_main_middle{float:left;display:inline;margin-left:10px;width:541px; font-family:"宋体"}
.acm_top{display:block;border:#e3e3e3 solid 1px;margin-bottom:10px;background:#fff;}
.acm_top1{padding-left:80px;height:80px;line-height:80px;border-bottom:#e3e3e3 solid 1px;background:url(../..img/customercenter/acc_ico1.jpg) left center no-repeat;text-align:left;}
.acm_top1 span{float:right;margin-right:40px;}
.acm_top1 span strong{color:#ff0000;}
.acm_top2{height:186px;}
.acm_top2 li{padding-top:45px;float:left;padding-left:45px;width:120px;text-align:left;}
.acc_strong1{color:#ffa53c;}
.acm_down{display:block;height:528px;position:relative;}
.acm_down1{height:32px;line-height:32px;background:#317ee7;border:#e3e3e3 solid 1px;border-bottom:0;}
.acm_down1 .acm_dd{padding-left:16px;color:#fff}
.tab-content{clear:both;text-align:left;background:#fff;}
.acc_tab_table{width:539px;table-layout:fixed; border-collapse:collapse;}
.acc_tab_table td{border-bottom:#e3e3e3 solid 1px;padding:10px 5px 12px;text-align:center;color:#888}
.acc_tab_table .acc_tr_first td{color:#666;padding:14px 5px 16px;background:#EEF5FD;}
.acc_tab_table .tab_div{text-align:left;padding-top:16px;}
.acc_tab_table .tab_div i{float:left;}
.acc_tab_table .tab_div p{line-height:160%; color:#666;}
.acc_tab_table .tab_div i img{width:52px;height:52px;padding:5px;padding-right:10px;margin-top:-13px;}
.acc_tdcolor{color:#ff0000;}
.acc_bu1 a{ background:url(../..img/customercenter/add_but1.png) no-repeat; display:block; width:80px; height:30px;}
.acc_bu2 {text-align:center;line-height:30px;display:block; width:80px; height:30px;color:#F60;}
.acc_bu1 a:hover{ background:url(../..img/customercenter/add_but1_1.png) no-repeat; }

/***********个人中心首页右部******************/
.acc_main_right{width:208px;height:auto;float:right;}
.acc_right_top{background:#fff;border:#e3e3e3 solid 1px;border-bottom:0;margin-bottom:10px; font-family:"微软雅黑"}
.acr_ul li a{display:block;padding:10px 15px 10px 3px;height:101px;border-bottom:#e3e3e3 solid 1px;}
.acr_ul li a:hover{color:#ff0000;}
.acr_ul li a img{float:left;}
.acr_ul li a p{margin-top:25px;text-align:left;}
.acr_ul li a p span{display:block;line-height:170%;}
.acr_ul li a p .acr_span{color:#999;}
.acr_ul li a:hover p .acr_span{color:#ff0000;}
.acr_ul li a p .acr_span strong{font-weight:normal;color:#ff0000;font-size:14px;}
.acc_right_top h3{height:30px;font-size:14px;height:35px;line-height:35px;background:#f8f8f8;font-weight:normal;text-align:left;padding-left:16px;color:#333;border-bottom:#f5f5f5 solid 1px;}


/******************我的积分订单******************/
.acc_tdcolor0{color:#ff0000;font-family:"微软雅黑"; font-size:14px;}
.acc_tdcolor1{color:#ff0000;}
.acc_tdcolor2{color:#ffa53c;font-weight:normal;}
.acc_tdcolor2_2{ color:#317ee7; font-weight:normal;}
.acc_tdcolor2_3{ color:#ff6902; font-weight:normal;}
.acc_tdcolor2_4{ color:#999; font-weight:normal; }
.acc_tdcolor2_5{ color:#ffb70c; font-weight:normal;}

.acc_tdcolor3{color:#333;}
.mr{ color:#999;}
.acc_tdcolor4{color:#ff0000;font-size:14px;float:left;}
.acc_tdcolor5{color:#ff0000;}
.acc_tdcolor6{color:#999}
.acc_right_float{float:right;}
.acc_right_new{background:url(../..img/customercenter/new-bd.jpg) 0 17px no-repeat;width:auto;height:46px;padding-left:18px;}
.acc_right_new2{height:28px;line-height:28px;padding:0 15px; text-align:center;border:#e3e3e3 solid 1px;margin-top:8px;margin-left:10px;}
.acc_input_btn{color:#fff;line-height:35px;background:#FFA53C;cursor:pointer;cursor:hand;font-family:"微软雅黑"; width:79px; height:35px;}
.acc_input_btn2{background:#64a7eb;margin-left:18px; font-family:"微软雅黑"; width:79px; height:35px; text-align:center;}
.mt40{ margin-top:15px;}
.btn_blu{background:#64a7eb!important;}
.btn_red{background:#f36363}
.acc_input{width:180px;height:28px; line-height:28px;padding-left:6px;border:#A8A8A8 solid 1px;margin-right:8px;}
.acc_input_sel{width:100px;height:28px; line-height:28px;padding-left:6px;border:#e0e0e0 solid 1px;margin-right:8px;}
.acc_input_sel2{width:100px;height:32px; line-height:32px;padding-left:6px;border:#e0e0e0 solid 1px;margin-right:8px;}
.acc_input2{float:left;margin-top:12px;}
.acc_input3{width:70px;}
.acc_input4{width:80px;}
.acc_input5{width:208px;}
.acc_input_mobile{width:96px;}

.acc_right_lineheight1{line-height:53px;float:left;width:220px;margin-left:8px;color:#aaa}
.acc_right_lineheight2{line-height:18px;float:left;width:260px;margin-top:9px;margin-left:8px;color:#aaa}
.acc_right_lineheight3{margin-top:9px;margin-left:8px;color:#aaa;}
.yzm{width:70px;height:30px;float:left;line-height:53px;margin-top:12px;}
.yzm img{width:68px;height:28px;border:#e3e3e3 solid 1px;}
.yzm_btn{background:none;height:16px;float:left;margin-left:8px;margin-top:19px;color:#1369C0;cursor:pointer;cursor:hand;}
.acc_right_tips{width:697px;height:53px;background:url(../..img/customercenter/tips_07.jpg) no-repeat;clear:both;margin:0 auto;}
.acc_right_tips p{padding-left:60px;color:#65a4d0;line-height:53px; text-align:left;}
.acc_right_tips p a{color:#ffb35b;}
.acc_right_yzm_time{width:100px;height:30px;float:left;margin-top:12px;color:#fff;background:#fe6e6d;cursor:pointer;position:relative;margin-right:3px;}
.acc_right_yzm_time1{width:100px;height:30px;background:#e9e9e9;float:left;margin-top:12px;position:relative;margin-right:3px;}
.acc_right_yzt{width:120px;height:30px;border:#e3e3e3 solid 1px;background:#e9e9e9;color:#999;cursor:pointer;cursor:hand;}
.acc_time{display:block;width:28px;height:16px;position:absolute;left:10px;top:-10px;color:#666}
.acc_right_hj{padding:40px 24px 20px 0; text-align:right;}
.acc_right_hj_btn{padding:50px 24px 20px 0;text-align:center;}

.acc_right_mb{width:757px;height:auto;font-family:"宋体"; border-top:1px solid #ddd;  }

.acc_right_mb2{ background-color:#FFFFFF;}
.acc_right_sear{height:57px;line-height:57px;background:#fff; text-align:left;border:#e3e3e3 solid 1px; border-top:0;padding-left:5px;}

.acc_btn{height:30px; width:72px; line-height:30px; background:#64a7eb;color:#fff; cursor:pointer;cursor:hand;margin-left:8px;}
.acc_right_sear label{margin:0 6px 0 8px;}
#form1{ margin:0 6px 0 8px; text-align:left; line-height:25px;}
.acc_right_cont{width:757px;}
.acc_right_p{height:32px;line-height:32px; background:#317ee7;color:#fff;padding-left:15px; text-align:left;}
.acc_right_tip { float:right; color:#dee3e7;}
.acc_table{width:757px;border:#e3e3e3 solid 1px;border-top:0;border-bottom:0; background:#fff }
.acc_right_ul_table{width:757px; float:left; }
.acc_table a,.acc_right_ul_table a{color:#1369c0; cursor:pointer;cursor:hand; }
.acc_table td,.acc_right_ul_table td{padding:10px 5px;border-bottom:#e3e3e3 solid 1px;line-height:32px; height:32px; color:#666; text-align:center;}
.acc_table .acc_tr,.acc_right_ul_table .acc_tr{padding:5px 5px;color:#666;background:#eef5fd}
.acc_li a:hover { color:#F90;}
.acc_li:hover { background:#f5f5f5;}
.born{ border:none}
.acc_right_up{height:46px;line-height:46px;background:#fff;text-align:left;padding-left:16px;padding-right:20px;border:#e3e3e3 solid 1px;border-top:0}

.acc_right_up3{height:46px;line-height:46px;background:#fff;text-align:left;padding-left:16px;padding-right:20px;}
.acc_right_up2{height:55px;line-height:55px;background:#fff;border:#e3e3e3 solid 1px;border-top:0;text-align:left;padding-left:16px;padding-right:20px;}
.acc_right_ul_per{width:755px;padding:0px 0 60px;background:#fff;border:#e3e3e3 solid 1px; border-top:0;float:left;height:auto;}
.acc_right_ul{width:755px;padding:40px 0 60px;height:410px;background:#fff;border:#e3e3e3 solid 1px; border-top:0;float:left;}
.acc_right_myin{width:755px;padding:40px 0 60px;background:#fff;border:#e3e3e3 solid 1px; border-top:0;float:left;}
.acc_right_ul3{ padding-top:40px;}
.acc_right_ul2{padding:0;height:695px;}
.acc_right_li01{float:left;display:inline;width:230px;height:53px;line-height:53px; text-align:right;}
.acc_right_lisc{ width:60px; height:30px; line-height:30px; text-align:center; background:#ffa53c; color:#FFFFFF; margin:11px 0 0 5px; }
.acc_right_li02{text-align:left;width:510px;padding-left:6px;}
.acc_right_li03{width:668px;text-align:center;padding-top:26px;padding-bottom:12px;}
.acc_right_li04{width:755px;text-align:center;}
.acc_right_li05{width:755px;text-align:center;height:auto;padding-bottom:20px;}
.acc_right_li07{width:755px; text-align:center;float:none;}
.acc_right_li07 img{margin:0 auto;}
.point_all { margin-left:10px; float:left;}
.point_all a { color:#F90;}
.acc_right_position{width:755px;text-align:center;height:30px;}
.acc_right_div1{font-size:26px;font-family:"微软雅黑";color:#237ac1;}
.acc_right_div2{ padding-top:20px;}


.log-span04{width:450px;display:block;height:55px;padding-top:30px;color:#64a7eb;font-size:30px;font-weight:600;padding-left:60px;background:url(../..img/login/done_04.png) left center no-repeat;margin:0 auto; line-height:25px;}
.span5{display:block;margin:0 auto;text-align:center;padding-bottom:15px;padding-top:15px;font-family:"微软雅黑";font-size:14px; color:#333;}


.acc_right_hbdiv{width:550px;height:310px;background:fff;margin:30px auto;border:#e3e3e3 solid 1px;}
.acc_right_p2{height:32px;line-height:32px; background:#317ee7;color:#fff;padding-left:15px; text-align:left;}
.acc_right_ul3{padding-top:16px;}
.acc_right_li06{float:left;display:inline;width:180px;height:48px;line-height:48px; text-align:right;}
.acc_right_li08{float:left;display:inline;width:320px;height:48px;line-height:48px; text-align:right; margin-left:5px;}
.acc_right_li07{width:290px;padding-left:5px;text-align:left;}
.acc_right_select01{width:220px;height:30px; line-height:30px;border:#e0e0e0 solid 1px;margin-top:11px;}
.acc_input6{width:212px;height:30px; line-height:30px;border:#e0e0e0 solid 1px;margin-top:11px;padding-left:6px;}
.acc_page{clear:both;}

.pro_list { width:757px; border-top:0;border-bottom:0; background:#fff;  border:#e3e3e3 solid 1px;}
.pro_list_t td { height:34px!important; background:#f2f2f8;}
.pro_t_id { line-height:34px; color:#818181; padding-left:10px; text-align:left; float:left;}
.pro_t_price { line-height:34px; color:#818181; padding-left:10px; text-align:left; float:left; margin-left:165px;}
.pro_t_num { line-height:34px; color:#818181; padding-left:10px; text-align:left; float:left; margin-left:45px;}
.pro_t_time { line-height:34px; color:#818181;  float:right; margin-right:10px;}
.pro_list_info td { height:126px; line-height:126px; border-bottom:1px solid #e3e3e3;}
.acc_pro_info { width:300px; float:left; margin:10px 0 0 15px;}
.acc_pro_pic { border:1px solid #eaeaea; width:80px; height:80px; float:left;}
.acc_pro_name { float:left; line-height:20px; margin:5px 0 0 10px; width:200px; text-align:left; color:#666;}
.acc_pro_price { text-align:center; color:#666;}
.acc_pro_enter { background:#fff7ee; text-align:center;}
.acc_pro_enter a{ color:#666;}
.acc_pro_enter a:hover{ color:#F90;}
.td_price { line-height:24px;}
.td_price p { height:60px; line-height:24px;}
.acc_td1 { width:200px;}
.acc_td2 { width:120px;}
.acc_td2 { width:60px;}
.color_fh { color:#317ee7;}
.color_fh a { color:#999;}
.color_fh a:hover { color:#F90;}
.color_wc { color:#ffa53c;}
.color_cx { color:#ccc;}
.color_apply { color:#de0000;text-align:center; font-weight:bold;}
/******************binding_box******************/

.binding_box {float:left; margin:40px 0 0 45px;}
.bd-p1 { background:url(../..img/customercenter/bd-email.png) no-repeat; width:28px; height:28px; }
.bd-item { float:left; width:150px; margin-right:50px;}
.bd-item p { float:left; line-height:28px;}
.bd-btn a { color:#1369c0;}  
.bd-btn a:hover { color:#ff0000;}
.bd-p2{background:url(../..img/customercenter/bd-phone.png) no-repeat; width:28px; height:28px;}


/******************charge_deal_info******************/
.btopnone{ border-top:0px;}
.btopnone2{ border-bottom:0px none; }
.comm_bottom2{height:46px;line-height:46px; text-align:left;border:#e3e3e3 solid 1px;background-color:#f1f1f1;border-bottom:#1369c0 solid 1px;border-top:0;clear:both;padding-left:16px;padding-right:20px;color:#1369c0;}
.comm_table_JB{ width:100%;}
.comm_table_JB td{ line-height:40px; color:#666; border-bottom:1px solid #eaeaea;}
.comm_table{width:740px; margin:0 20px 0;}
.comm_table td{padding:15px 2px;color:#444}
comm_table2{ color:#444;}
.comm_bottom3{padding:40px 0px 10px;text-align:center;background:#fff;}





.acc_right_sear2{height:57px;line-height:57px;background:#fff; text-align:left;padding-left:5px;}
.form3{ height:32px; padding-left:5px;}
.comm_table{width:100%; margin-top:5px;}
.comm_table_zt{ width:100%;background:#fffdee; border:1px solid #f3e1b2;}
.comm_table_zt td{ padding:5px 2px}
.ftx14{ color:#12A000;font-weight: bold;}
.comm_table td{padding:10px 2px;}
.comm_textarea02{width:550px;height:80px;border:#e3e3e3 solid 1px;padding:8px;line-height:20px;color:#888;text-align:left;}
.comm_bottom4{padding:40px 0;text-align:center;background:#fff;border:#e3e3e3 solid 1px;border-top:0;}
.comm_input_btn{height:32px;padding:0 18px;line-height:32px;background:#ffa53c;color:#fff;text-align:center;margin-right:12px;cursor:pointer;cursor:hand;}
.comm_bottom5{padding:40px 0;text-align:center;background:#fff;}
.comm_p_03{padding:10px 0 0; color:#999;}
.comm_top{ vertical-align:text-top;}
.acc_right_searts{height:57px;line-height:57px; text-align:left;border-bottom:1px solid #ddd; margin:0 auto;}
.acc_input03{ margin-right:10px;}

.charge_deal_box { width:775px;}
.charge_deal_box h3 { text-align:left; padding-left:10px; font-size:14px; color:#666;}
.charge_deal_t p { float:left;}
.charge_deal_id { width:250px; text-align:left; margin-left:10px;}
.charge_deal_num { width:200px; color:#a7a7a7; float:left; margin-left:108px;}
.charge_deal_price {width:170px; text-align:right; color:#a7a7a7; }
.charge_deal_t { border-bottom:2px solid #b2d1ff; height:30px; line-height:30px; float:left; width:757px; margin-top:20px;}
.charge_deal_list { float:left; width:760px;}
.charge_deal_list li {  border-bottom:1px dashed #ddd; margin:5px 0; width:760px; float:left;}
.charge_deal_photo { width:80px; height:80px; float:left; margin:5px 10px 0 10px;}
.charge_deal_content { float:left; width:220px; text-align:left; line-height:24px; margin:20px 0 0 20px;}
.charge_deal_number { float:left; margin:30px 0 0 108px; width:120px;}
.charge_deal_u_price { float:right; line-height:90px; float:right; width:50px; margin-right:25px; font-size:12px; font-weight:bold; color:#cc0000;}
.charge_order_info { width:757px; float:left; background:#e0ebfb; border-top:1px solid #b2d1ff; height:32px;}
.charge_order_info p { line-height:32px; text-align:right; padding-right:20px;color:#a7a7a7;}
.charge_info { float:left; width:400px; margin-left:5px;}
.charge_info li { margin:15px 0; float:left;}
.charge_info li label { float:left; text-align:right; width:90px; line-height:32px; margin-right:10px;}
.charge_info input { float:left;}
.charge_line { width:740px; margin:10px auto; height:1px; border-bottom:1px dashed #ddd; clear:both;}
.up_pic{ width:60px; height:29px; line-height:30px; text-align:center; background:#ffa53c; color:#FFFFFF; }

.charge_fin_info {  background:#fffdee; border:1px solid #f3e1b2;}
.charge_fin_info td { line-height:50px; text-indent:0.5em;}
.charge_fin_t { color:#333; text-align:right; padding-right:3px;}
.charge_fin_c { color:#666; text-align:left; padding-left:3px; font-weight:bold;}
.charge_fin_b { color:#339933; text-align:left; padding-left:3px; font-weight:bold;}
.charge_fin_a { color:#666; text-align:left; padding-left:3px;}
.charge_content {  border-collapse:collapse;}
.charge_content td{ line-height:50px; text-indent:0.5em; border:1px solid #eaeaea;}
.charge_pic { float:left; margin:5px 0 5px 80px;}
.charge_pic li { width:80px; height:80px; border:1px solid #ddd; float:left; margin-right:10px; }
.charge_pic li img {width:80px; height:80px; padding-left:-20px; float:left;}
/*积分查询卡列表*/
.faq-box {width:755px; background:#fff;border:#e3e3e3 solid 1px;float:left; padding-bottom:40px;}
.faq-t { height:32px; line-height:32px; background:#a9b5c5; font-weight:700; color:#fff; margin-top:10px;}
#faq li{line-height:50px;color:#666; width:755px; float:left;}
#faq dd {display: none; background:#f6f6f6 url(../..img/customercenter/Myintegral-bg.png) repeat-x top; width:755px; height:285px; clear:both; border-bottom:1px solid #ddd;}
.faq-b0 { width:50px;display:block; float:left;}
.faq-b1 { width:150px; hdisplay:block; float:left;}
.faq-b2 { width:200px; display:block;float:left; margin-left:50px;}
.faq-b3 { width:100px;display:block;float:left; margin-left:50px;}
.faq-b4 { width:100px;isplay:block;float:right; margin:0 10px 0 0;}
.c-c1 { background:#f0f0f0;}
.card-point { float:left; width:638px;  color:#999; text-align:right;  margin-top:15px; border-top:1px #eaeaea solid; padding:10px 10px 0 0;}
.faq-se { width:400px; float:left; margin:20px 0 0 188px;}
.faq-se li label { width:100px; float:left; text-align:right; height:28px; line-height:28px; margin-right:5px; color:#333;} 
.faq-se li { margin:6px 0; line-height:32px!important;}
.faq-se li select { float:left; height:28px; line-height:28px; width:230px; border:1px solid #ccc;}
.faq-se li input { float:left; height:28px; line-height:28px; width:225px; border:1px solid #ccc; padding-left:5px;}
.faq-se li p { text-align:left; color:#333; height:28px; line-height:28px;}
.faq-s-input { width:100px!important;}
.point-b3 { color:#cc0000;}
.to-b4 a{ color:#1369c0; cursor:pointer;cursor:hand;}
.faq-code a{ background:#e9e9e9; color:#999; height:28px; line-height:28px; width:100px; display:block;}
.faq-code a:hover { background:#ddd;}
.faq-btn  { clear:both; width:190px; margin:30px auto;}

/*积分查询列表卡end*/

/*修正safari浏览器的默认表单样式（手机/平板端）*/
input[type="submit"],input[type="reset"],input[type="button"]{
	-webkit-appearance: none;
}
/*搜索表格样式*/
.clearfix:after, .clearfix:before{ content: " "; display: table;}
.clearfix:after{ clear:both; }
.acc-search-box{ background: #fff; border: 1px solid #e3e3e3; border-width: 0 1px; padding: 8px 0; }
.from-table{ border-spacing: 0; border-collapse: collapse; width: 96%; text-align: left; color: #333; }
.from-table .tar{ text-align: right; }
.from-table .tac{ text-align: center; }
.from-table td{ white-space: nowrap; padding: 6px 4px; word-break:break-all; min-width: 54px;}
.from-text, .from-text-data{ height: 18px; border: 1px solid #ccc; width: 160px; padding: 4px 6px; vertical-align: middle; font-family: arial,Simsun; color: inherit; }
.from-text-data{ width: 80px; }
.from-table .from-select{ height: 22px; width: 174px; border: 1px solid #ccc; font-family: inherit;}
.from-line{ margin:  0 2px; font-size: 12px; display: inline-block; width: 12px; vertical-align: middle; font-family: simsun;}
.from-hide, .from-hide td{ display: none; }
.fr{ float: right; display: inline; }
.acc_table td{ word-break:break-all; }