<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BgMapleMapper">

	<sql id="mapleColumns">mapleId,mapleCode,mapleName,mapleType,mapleStatus,controllerPackage,entityPackage,orderNum,effective,createUserId,createTime,modifyUserId,modifyTime</sql>
	<sql id="mapleTable">bg_maple_main</sql>
	
	<resultMap type="bgMaple" id="bgMapleResultMap">
		<id column="mapleId" property="mapleId"/>
		<result column="mapleCode" property="mapleCode"/>
		<result column="mapleName" property="mapleName"/>
		<result column="mapleType" property="mapleType"/>
		<result column="mapleStatus" property="mapleStatus"/>
		<result column="controllerPackage" property="controllerPackage"/>
		<result column="entityPackage" property="entityPackage"/>
		<result column="orderNum" property="orderNum"/>
		<result column="effective" property="effective"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createTime" property="createTime"/>
		<result column="modifyUserId" property="modifyUserId"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	
	<!-- ****************************custom * start*********************************** -->
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" parameterType="bgMaple">
		insert into 
	<include refid="mapleTable"/>
		( 
	<include refid="mapleColumns"/>
		) values (
			#{mapleId},#{mapleCode},#{mapleName},#{mapleType},#{mapleStatus},#{controllerPackage},#{entityPackage},#{orderNum},#{effective},#{createUserId},#{createTime},#{modifyUserId},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="bgMaple">
		update
	<include refid="mapleTable"/>
		set 
			<if test="mapleCode!=null and mapleCode!=''">
			mapleCode = #{mapleCode},
			</if>
			<if test="mapleName!=null and mapleName!=''">
			mapleName = #{mapleName},
			</if>
			<if test="mapleType!=null and mapleType!=''">
			mapleType = #{mapleType},
			</if>
			<if test="controllerPackage!=null and controllerPackage!=''">
			controllerPackage = #{controllerPackage},
			</if>
			<if test="entityPackage!=null and entityPackage!=''">
			entityPackage = #{entityPackage},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			mapleId = #{mapleId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 改变 -->
	<update id="change" parameterType="bgMaple">
		update
	<include refid="mapleTable"/>
		set 
			<if test="mapleCode!=null and mapleCode!=''">
			mapleCode = #{mapleCode},
			</if>
			<if test="mapleName!=null and mapleName!=''">
			mapleName = #{mapleName},
			</if>
			<if test="mapleType!=null and mapleType!=''">
			mapleType = #{mapleType},
			</if>
			<if test="mapleStatus!=null and mapleStatus!=''">
			mapleStatus = #{mapleStatus},
			</if>
			<if test="controllerPackage!=null and controllerPackage!=''">
			controllerPackage = #{controllerPackage},
			</if>
			<if test="entityPackage!=null and entityPackage!=''">
			entityPackage = #{entityPackage},
			</if>
			<if test="orderNum!=null and orderNum!=''">
			orderNum = #{orderNum},
			</if>
			<if test="effective!=null and effective!=''">
			effective = #{effective},
			</if>
			modifyUserId = #{modifyUserId},
			modifyTime = #{modifyTime}
		where 
			mapleId = #{mapleId} 
			and modifyTime = #{lastModifyTime}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from 
	<include refid="mapleTable"/>
		where 
			mapleId = #{mapleId} 
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from 
 <include refid="mapleTable"/>
		where 
			CONCAT(mapleId) in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findByPd" parameterType="pd" resultType="bgMaple">
		select 
	<include refid="mapleColumns"/>
		from 
	<include refid="mapleTable"/>
		where 
			mapleId = #{mapleId} 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="bgMapleResultMap">
		select 
	<include refid="mapleColumns"/>
		from 
	<include refid="mapleTable"/>
		where 1=1
		order by (orderNum+0) 
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="otherHave" parameterType="bgMaple" resultMap="bgMapleResultMap">
		select 
	<include refid="mapleColumns"/>
		from 
	<include refid="mapleTable"/>
		where 1=1
			<if test="mapleId!=null and mapleId!=''">
			 and mapleId != #{mapleId} 
			</if>
			<if test="mapleCode!=null and mapleCode!=''">
			 and mapleCode = #{mapleCode}
			</if>
			<if test="mapleName!=null and mapleName!=''">
			 and mapleName = #{mapleName}
			</if>
			<if test="mapleType!=null and mapleType!=''">
			 and mapleType = #{mapleType}
			</if>
			<if test="mapleStatus!=null and mapleStatus!=''">
			 and mapleStatus = #{mapleStatus}
			</if>
			<if test="controllerPackage!=null and controllerPackage!=''">
			 and controllerPackage = #{controllerPackage}
			</if>
			<if test="entityPackage!=null and entityPackage!=''">
			 and entityPackage = #{entityPackage}
			</if>
			<if test="orderNum!=null and orderNum!=''">
			 and orderNum = #{orderNum}
			</if>
			<if test="effective!=null and effective!=''">
			 and effective = #{effective}
			</if>
			<if test="createUserId!=null and createUserId!=''">
			 and createUserId = #{createUserId}
			</if>
			<if test="createTime!=null and createTime!=''">
			 and createTime = #{createTime}
			</if>
			<if test="modifyUserId!=null and modifyUserId!=''">
			 and modifyUserId = #{modifyUserId}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
			 and modifyTime = #{modifyTime}
			</if>
		order by (orderNum+0) 
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
			select 
	<include refid="mapleColumns"/>
		from 
	<include refid="mapleTable"/>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				mapleCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
				mapleName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		order by (orderNum+0)
	</select>
	
	<!-- ****************************common * end  ********************************** -->
	
</mapper>