<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BgUserMapper">

	<sql id="userAddColumns">userCode,password,userName,userRights,roleId,lastLoginTime,lastLoginIp,userIconSrc,userNumber,email,phone,status,remarks,modifyTime</sql>
	<sql id="userColumns">userId,userCode,password,userName,userRights,roleId,lastLoginTime,lastLoginIp,userIconSrc,userNumber,email,phone,status,remarks,modifyTime</sql>
	<sql id="userRoleColumns">
		u.userId,u.userCode,u.password,u.userName,u.userRights
		,u.lastLoginTime,u.lastLoginIp,u.userIconSrc,u.userNumber,u.email,u.phone,u.status,u.remarks,u.modifyTime as modifyTimeUser
		,r.roleId,r.roleName,r.roleRights,r.parentId,r.addRights,r.delRights,r.editRights,r.seleRights,r.modifyTime as modifyTimeRole
		</sql>
		
	<resultMap type="bgUser" id="userResultMap">
		<id column="userId" property="userId"/>
		<result column="userCode" property="userCode"/>
		<result column="password" property="password"/>
		<result column="userName" property="userName"/>
		<result column="userRights" property="userRights"/>
		<result column="roleId" property="roleId"/>
		<result column="lastLoginTime" property="lastLoginTime"/>
		<result column="lastLoginIp" property="lastLoginIp"/>
		<result column="userIconSrc" property="userIconSrc"/>
		<result column="userNumber" property="userNumber"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="status" property="status"/>
		<result column="remarks" property="remarks"/>
		<result column="modifyTime" property="modifyTime"/>
	</resultMap>
	
	<resultMap type="bgUser" id="userRoleResultMap">
		<id column="userId" property="userId"/>
		<result column="userCode" property="userCode"/>
		<result column="password" property="password"/>
		<result column="userName" property="userName"/>
		<result column="userRights" property="userRights"/>
		<result column="roleId" property="roleId"/>
		<result column="lastLoginTime" property="lastLoginTime"/>
		<result column="lastLoginIp" property="lastLoginIp"/>
		<result column="userIconSrc" property="userIconSrc"/>
		<result column="userNumber" property="userNumber"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="status" property="status"/>
		<result column="remarks" property="remarks"/>
		<result column="modifyTimeUser" property="modifyTime"/>
		<association property="bgRole" column="roleId" javaType="BgRole">
			<id column="roleId" property="roleId"/>
			<result column="roleName" property="roleName"/>
			<result column="roleRights" property="roleRights"/>
			<result column="parentId" property="parentId"/>
			<result column="addRights" property="addRights"/>
			<result column="delRights" property="delRights"/>
			<result column="editRights" property="editRights"/>
			<result column="seleRights" property="seleRights"/>
			<result column="modifyTimeRole" property="modifyTime"/>
		</association>
	</resultMap>
	
	<!-- ****************************custom * start*********************************** -->
	
	<select id="findByLoginName" parameterType="String" resultType="bgUser">
		select * from bgUser 
		where 
	  		(
	  		userCode = #{loginName}
	  		or
	  		email = #{loginName}
	  		or
	  		userNumber = #{loginName}
	  		or
	  		phone = #{loginName}
	  		)
	</select>
	
	<!-- 存入IP -->
	<update id="changeLoginInfo" parameterType="bgUser">
		update bgUser 
			set 
				lastLoginTime = #{lastLoginTime},
				lastLoginIp = #{lastLoginIp}
			where 
				userCode = #{userCode}
			<if test="userId != null and userId != ''">
			and userId = #{userId}
			</if>
	</update>
	
	<!-- 判断用户名和密码 -->
	<select id="checkUserLogin" parameterType="pd" resultType="bgUser">
		select * from bgUser 
		where 1=1
		<if test="userCode != null and password != null">
	  	and	(
	  		(userCode = #{userCode} and password = #{password})
	  		or
	  		(email = #{userCode} and password = #{password})
	  		or
	  		(userNumber = #{userCode} and password = #{password})
	  		or
	  		(phone = #{userCode} and password = #{password})
	  		)
		</if>
		<if test="userId != null and userId != ''">
		and userId = #{userId}
		</if>
	</select>
	
	<!-- 通过userId获取数据 -->
	<select id="getUserRoleById" parameterType="int" resultMap="userRoleResultMap">
		select  
			<include refid="userRoleColumns"/> 
		from bgUser u 
		left join bgRole r 
		on u.roleId=r.roleId 
		where u.status=1 
		and u.userId=#{userId}
	</select>
	
	<!-- 通过userId获取数据 -->
	<select id="listAllByRoleId" parameterType="int" resultType="bgUser">
		select  
			<include refid="userColumns"/> 
		from bgUser 
		where 
			roleId=#{roleId}
	</select>
	
	<!-- ****************************custom * end  *********************************** -->
	
	
	<!-- ****************************common * satrt*********************************** -->
	<!-- 新增 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="userId" parameterType="bgUser">
		insert into bgUser ( 
			<include refid="userAddColumns"/>
		) values (
			#{userCode},#{password},#{userName},#{userRights},#{roleId},#{lastLoginTime},#{lastLoginIp},#{userIconSrc},#{userNumber},#{email},#{phone},#{status},#{remarks},#{modifyTime}
		)
	</insert>
	
	<!-- 新增 -->
	<insert id="addByPd" useGeneratedKeys="true" keyProperty="userId" parameterType="pd">
		insert into bgUser ( 
			<include refid="userAddColumns"/>
		) values (
			#{userCode},#{password},#{userName},#{userRights},#{roleId},#{lastLoginTime},#{lastLoginIp},#{userIconSrc},#{userNumber},#{email},#{phone},#{status},#{remarks},#{modifyTime}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="bgUser">
		update  bgUser
			set 
				userCode = #{userCode},
				password = #{password},
				userName = #{userName},
				userRights = #{userRights},
				roleId = #{roleId},
				lastLoginTime = #{lastLoginTime},
				lastLoginIp = #{lastLoginIp},
				userIconSrc = #{userIconSrc},
				userNumber = #{userNumber},
				email = #{email},
				phone = #{phone},
				status = #{status},
				remarks = #{remarks},
				modifyTime = #{modifyTime}
			where 
				userId = #{userId}
	</update>
	
	<!-- 修改 -->
	<update id="editByPd" parameterType="pd">
		update  bgUser
			set 
				userCode = #{userCode},
				password = #{password},
				userName = #{userName},
				userRights = #{userRights},
				roleId = #{roleId},
				lastLoginTime = #{lastLoginTime},
				lastLoginIp = #{lastLoginIp},
				userIconSrc = #{userIconSrc},
				userNumber = #{userNumber},
				email = #{email},
				phone = #{phone},
				status = #{status},
				remarks = #{remarks},
				modifyTime = #{modifyTime}
			where 
				userId = #{userId}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="int">
		delete from bgUser 
		where 
			userId = #{userId}
	</delete>
	
	<!-- 删除 -->
	<delete id="deleteByPd" parameterType="pd">
		delete from bgUser 
		where 
			userId = #{userId}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds" parameterType="String">
		delete from bgUser 
		where 
			userId in 
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
	</delete>
	
	<!-- 通过id获取(类)数据 -->
	<select id="findById" parameterType="int" resultType="bgUser">
		select 
			<include refid="userColumns"/>
		from 
			bgUser
		where 
			userId = #{userId}
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="findPdById" parameterType="int" resultType="pd">
		select 
			<include refid="userColumns"/>
		from 
			bgUser
		where 
			userId = #{userId}
	</select>
	
	<!-- 通过pd获取(PageData)数据  -->
	<select id="findPdByPd" parameterType="pd" resultType="pd">
		select 
			<include refid="userColumns"/>
		from 
			bgUser
		where 
			userId = #{userId}
	</select>
	
	<!-- 获取(类)List数据  -->
	<select id="listByPd" parameterType="pd" resultMap="userResultMap">
		select 
			<include refid="userColumns"/>
		from 
			bgUser
		where status = 1 
		<if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
			and
				(
					 userCode LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or 
					 email LIKE CONCAT(CONCAT('%', #{keywords}),'%') 
					 or
					 userNumber LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or
					 userName LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or
					 phone LIKE CONCAT(CONCAT('%', #{keywords}),'%')
				)
		</if>
		<if test="roleId != null and roleId != ''"><!-- 角色检索 -->
			and roleId=#{roleId} 
		</if>
		<if test="lastLoginStart!=null and lastLoginStart!=''"><!-- 登录时间检索 -->
			and lastLoginTime &gt;= #{lastLoginStart} 
		</if>
		<if test="lastLoginEnd!=null and lastLoginEnd!=''"><!-- 登录时间检索 -->
			and lastLoginTime &lt;= #{lastLoginEnd} 
		</if>
		order by userId
	</select>
	
	<!-- 通过id获取(PageData)数据  -->
	<select id="listPage" parameterType="bgPage" resultType="pd">
		select  
			<include refid="userRoleColumns"/> 
		from bgUser u 
		left join bgRole r 
		on u.roleId=r.roleId 
		where u.status = 1 
		and r.parentId = 1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					 u.userCode LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					 u.email LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or
					 u.userNumber LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
					 u.userName LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
					 u.phone LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.roleId != null and pd.roleId != ''"><!-- 角色检索 -->
			and u.roleId=#{pd.roleId} 
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and u.lastLoginTime &gt;= #{pd.lastLoginStart} 
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			and u.lastLoginTime &lt;= #{pd.lastLoginEnd} 
		</if>
		order by u.userId
	</select>
	<!-- ****************************common * end  ********************************** -->
	
</mapper>